.division-contact
    h3.division-contact__title 
      span
        | contatti
    .division-contact__treatment Contattateci! <br>Per essere ricontattati da noi, basta compilare il seguente modulo.
    form.division-contact__form
      .row
        .col.col-6
          label.input-label
            input(name="name" type="text" required="yes" class="name half-contact")
            span(class="plaseholder-title") Nome
              span(class="symbol")  *
        .col.col-6
          label.input-label
            input(name="last name" type="text" required="yes" class="last-name half-contact nomargin")
            span(class="plaseholder-title") Cognome
              span(class="symbol")  *
      .row
        .col.col-6
          label.input-label
            input(name="organization" type="text" class="organization half-contact")
            span(class="plaseholder-title") Societa
        .col.col-6
          label.input-label
            input(name="email" type="text" required="yes" class="email half-contact nomargin")
            span(class="plaseholder-title") Email
              span(class="symbol")  *
      .row
        .col.col-12
          textarea(name="request" placeholder="Richiesta" class="request")
      .row
        .col.col-8
          .radio-block
            input(name="consent to processing" id="consent-to-processing" type="radio" class="consent-to-processing" value="yes" required="yes")
            label(for="no-consent-to-processing") Si
            input(name="consent to processing" checked="yes" id="no-consent-to-processing" type="radio" class="no-consent-to-processing" value="no" required="yes")
            label(for="no-consent-to-processing") No
            .consent-to-processing__description Autorizzazione al trattamento dei dati personali secondo le normative vigenti.
            .no-consent-to-processing__requared campi obbligator
        .col.col-4
          input(class="button button__submit" type="submit" value="invia")
