.job-form
    .job-form__description Desiderate lavorare con noi? Contattateci! <br>Per essere ricontattati da noi, basta compilare il seguente modulo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    form.job-form__form
        fieldset.job-form__personal-date
            .job-form__attention-message
            .job-form__title
                span
                  | dati personali
            .job-form__validation-container
              .row
                .col.col-12
                  .job-form__requared-error.error Attenzione: compilare tutti i campi obbligatori, e controllare il campo Nome
              .row  
                .col.col-6
                  label.input-label
                    input(type="text" name="person name" id="person-name" class="job-form__person-name error half-contact" required="yes")
                    span(class="plaseholder-title") Nome
                      span(class="symbol")  *
                .col.col-6
                  label.input-label
                    input(type="text" name="person last name" id="person-last-name" class="job-form__person-last-name error half-contact nomargin" required="yes")
                    span(class="plaseholder-title") Cognome
                      span(class="symbol")  *
              .row
                .col.col-6
                  label.input-label
                    input(type="text" name="person birth date" id="person-birthday" class="job-form__person-birthday half-contact ")
                    span(class="plaseholder-title") Data di nasccita gg | mm | aaaa
                      span(class="symbol")  *
                .col.col-6
                  .job-form__gender-input Sesso <span class="star">*</span>
                    input(type="radio" name="person-sesso" value="male" id="person-male-sesso" required="yes")
                    label(for="person-male-sesso") M
                    input(type="radio" name="person-sesso" value="female" id="person-female-sesso" checked="true" required="yes")
                    label(for="person-female-sesso") F
              .row
                .col.col-6
                  select(name="person province" class="job-form__person-province" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="") Provincia di residenza
                    option(value="test1") Test 1
                    option(value="test2") Test 2
                .col.col-6
                  label.input-label
                    input(type="text" name="person comune" id="person-comune" class="job-form__person-comune half-contact nomargin" required="yes")
                    span(class="plaseholder-title") Comune di residenza
                      span(class="symbol")  *
              .row
                .col.col-6  
                  label.input-label
                    input(type="tel" name="person telefono" id="person-telefono" class="job-form__person-telefono half-contact" required="yes")
                    span(class="plaseholder-title ") Telefono
                      span(class="symbol")  *
                .col.col-6  
                  label.input-label
                    input(type="email" name="person email" id="person-email" class="job-form__person-email half-contact nomargin" required="yes")
                    span(class="plaseholder-title") Email
                      span(class="symbol")  *
              .row
                .col.col-6  
                  select(name="qualification" class="job-form__person-qualification" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Titolo di studio") Titolo di studio
                    option(value="test1") Test 1
                    option(value="test2") Test 2
                .col.col-6  
                  select(name="office address" class="job-form__person-office-address" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Indirizzo di studio") Indirizzo di studio
                    option(value="test1") Test 1
                    option(value="test2") Test 1
              .row
                .col.col-12  
                  textarea(name="another specialization" placeholder="Altra specializzazione / Studi in corso" class="job-form__person-another-specialization")
        fieldset.job-form__spoken-languages
            .job-form__title
              span
                | lingue parlate
            .job-form__person-languages
              .row
                .col.col-6
                  .radio-buttons.job-form__person-english
                    .radio-buttons__title.job-form__language-title inglese
                    .radio-buttons__group
                        label.radio-button__label(for="person-english-no")
                            input.radio-button(type="radio" name="person-english" value="no" id="person-english-no" required="yes" checked="true")
                            span.radio-button__text
                                | No
                        label.radio-button__label(for="person-english-sufficiente")
                            input.radio-button(type="radio" name="person-english" value="sufficiente" id="person-english-sufficiente" required="yes")
                            span.radio-button__text
                              |Sufficiente
                        label.radio-button__label(for="person-english-buono")
                            input.radio-button(type="radio" name="person-english" value="buono" id="person-english-buono" required="yes")
                            span.radio-button__text
                              | Buono
                        label.radio-button__label(for="person-english-ottimo")
                            input.radio-button(type="radio" name="person-english" value="ottimo" id="person-english-ottimo" required="yes")
                            span.radio-button__text
                              | Ottimo
                        label.radio-button__label(for="person-english-madrelingua")
                            input.radio-button(type="radio" name="person-english" value="madrelingua" id="person-english-madrelingua" required="yes")
                            span.radio-button__text
                              | Madrelingua
                .col.col-6
                  .radio-buttons.job-form__person-french
                    .radio-buttons__title.job-form__language-title francese
                    .radio-buttons__group
                        label.radio-button__label(for="person-english-no")
                            input.radio-button(type="radio" name="person-english" value="no" id="person-english-no" required="yes" checked="true")
                            span.radio-button__text
                              | No
                        label.radio-button__label(for="person-english-sufficiente")
                            input.radio-button(type="radio" name="person-english" value="sufficiente" id="person-english-sufficiente" required="yes")
                            span.radio-button__text
                              |Sufficiente
                        label.radio-button__label(for="person-english-buono")
                            input.radio-button(type="radio" name="person-english" value="buono" id="person-english-buono" required="yes")
                            span.radio-button__text
                              | Buono
                        label.radio-button__label(for="person-english-ottimo")
                            input.radio-button(type="radio" name="person-english" value="ottimo" id="person-english-ottimo" required="yes")
                            span.radio-button__text
                              | Ottimo
                        label.radio-button__label(for="person-english-madrelingua")
                            input.radio-button(type="radio" name="person-english" value="madrelingua" id="person-english-madrelingua" required="yes")
                            span.radio-button__text
                              | Madrelingua
              .row
                .col.col-6
                  .radio-buttons.job-form__person-german
                    .radio-buttons__title.job-form__language-title tedesco
                    .radio-buttons__group
                        label.radio-button__label(for="person-english-no")
                            input.radio-button(type="radio" name="person-english" value="no" id="person-english-no" required="yes" checked="true")
                            span.radio-button__text
                              | No
                        label.radio-button__label(for="person-english-sufficiente")
                            input.radio-button(type="radio" name="person-english" value="sufficiente" id="person-english-sufficiente" required="yes")
                            span.radio-button__text
                              |Sufficiente
                        label.radio-button__label(for="person-english-buono")
                            input.radio-button(type="radio" name="person-english" value="buono" id="person-english-buono" required="yes")
                            span.radio-button__text
                              | Buono
                        label.radio-button__label(for="person-english-ottimo")
                            input.radio-button(type="radio" name="person-english" value="ottimo" id="person-english-ottimo" required="yes")
                            span.radio-button__text
                              | Ottimo
                        label.radio-button__label(for="person-english-madrelingua")
                            input.radio-button(type="radio" name="person-english" value="madrelingua" id="person-english-madrelingua" required="yes")
                            span.radio-button__text
                              | Madrelingua
                .col.col-6
                  .radio-buttons.job-form__person-spanish
                    .radio-buttons__title.job-form__language-title spagnolo
                    .radio-buttons__group
                        label.radio-button__label(for="person-english-no")
                            input.radio-button(type="radio" name="person-english" value="no" id="person-english-no" required="yes" checked="true")
                            span.radio-button__text
                              | No
                        label.radio-button__label(for="person-english-sufficiente")
                            input.radio-button(type="radio" name="person-english" value="sufficiente" id="person-english-sufficiente" required="yes")
                            span.radio-button__text
                              |Sufficiente
                        label.radio-button__label(for="person-english-buono")
                            input.radio-button(type="radio" name="person-english" value="buono" id="person-english-buono" required="yes")
                            span.radio-button__text
                              | Buono
                        label.radio-button__label(for="person-english-ottimo")
                            input.radio-button(type="radio" name="person-english" value="ottimo" id="person-english-ottimo" required="yes")
                            span.radio-button__text
                              | Ottimo
                        label.radio-button__label(for="person-english-madrelingua")
                            input.radio-button(type="radio" name="person-english" value="madrelingua" id="person-english-madrelingua" required="yes")
                            span.radio-button__text
                              | Madrelingua
              .row
                .col.col-6
                  .radio-buttons.job-form__person-other
                    .radio-buttons__title.radio-buttons__title--input.job-form__language-title
                        label.input-label
                            input(type="text" name="person other language" id="person-other-language" class="job-form__other-language")
                            span(class="plaseholder-title") Altro (specificare)
                    .radio-buttons__group
                        label.radio-button__label(for="person-english-no")
                            input.radio-button(type="radio" name="person-english" value="no" id="person-english-no" required="yes" checked="true")
                            span.radio-button__text
                              | No
                        label.radio-button__label(for="person-english-sufficiente")
                            input.radio-button(type="radio" name="person-english" value="sufficiente" id="person-english-sufficiente" required="yes")
                            span.radio-button__text
                              |Sufficiente
                        label.radio-button__label(for="person-english-buono")
                            input.radio-button(type="radio" name="person-english" value="buono" id="person-english-buono" required="yes")
                            span.radio-button__text
                              | Buono
                        label.radio-button__label(for="person-english-ottimo")
                            input.radio-button(type="radio" name="person-english" value="ottimo" id="person-english-ottimo" required="yes")
                            span.radio-button__text
                              | Ottimo
                        label.radio-button__label(for="person-english-madrelingua")
                            input.radio-button(type="radio" name="person-english" value="madrelingua" id="person-english-madrelingua" required="yes")
                            span.radio-button__text
                              | Madrelingua
        fieldset.job-form__area-interest
            .job-form__title
              span
                | area aziendale di interesse
            .job-form__validation-container
              .job-form__requared-error Attenzione: compilare tutti i campi obbligatori, e controllare il campo Nome
              .row
                .col.col-6
                  select(name="person interest" class="job-form__person-interest" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Area 1") Area 1
                    option(value="test1") Test 1
                    option(value="test2") Test 2
                .col.col-6
                  select(name="person interest" class="job-form__person-interest job-form__person-interest-no-require" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Area 2") Area 2
                    option(value="test1") Test 1
                    option(value="test2") Test 2
              .row
                .col.col-6
                  input(type="checkbox" value="stage" id="job-form__person-stage")
                  label(for="job-form__person-stage" class="job-form__person-stage-label") Stage
              .row
                .col.col-12
                  textarea(name="person interest another" placeholder="Altro" class="job-form__person-interest-another")
        fieldset.job-form__last-job
            .job-form__title
              span
                | attuale o ultimo impiego
            .job-form__validation-container
              .job-form__requared-error Attenzione: compilare tutti i campi obbligatori, e controllare il campo Nome
              .row
                .col.col-6 
                  select(name="person interest" class="job-form__person-specialization" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Inquadramento") Inquadramento
                    option(value="test1") Test 1
                    option(value="test2") Test 2
                .col.col-6
                  select(name="person interest" class="job-form__person-business-area" required="yes" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                    option(value="Area aziendale di impiego") Area aziendale di impiego
                    option(value="test1") Test 1
                    option(value="test2") Test 2
              .row
                .col.col-12
                  textarea(name="person job" placeholder="Mansione" class="job-form__person-job")
              .row
                .col.col-12
                  textarea(name="person job notes" placeholder="Note" class="job-form__person-job-notes")
              .row
                .col.col-6 
                  input(type="file" name="file browse")
              .row
                .col.col-8
                  .radio-block
                    input(name="consent to processing" id="consent-to-processing" type="radio" class="consent-to-processing" value="yes" required="yes")
                    label(for="no-consent-to-processing") Si
                    input(name="consent to processing" checked="yes" id="no-consent-to-processing" type="radio" class="no-consent-to-processing" value="no" required="yes")
                    label(for="no-consent-to-processing") No
                    .consent-to-processing__description Autorizzazione al trattamento dei dati personali secondo le normative vigenti.
                    .no-consent-to-processing__requared campi obbligator
                .col.col-4
                  input(class="button button__submit" type="submit" value="invia")
