.lp-contact
    .lp-contact__title
      span
        | contatti
    .lp-contact__treatment Contattateci!<br>Per essere ricontattati da noi, basta compilare il seguente modulo.
    form.lp-contact__form
      .row
        .col.col-12
          label.input-label
            span(class="plaseholder-title") Nome
              span(class="symbol")  *
            input(name="name" type="text" required="yes" class="name")
        .col.col-12
          label.input-label
            span(class="plaseholder-title") Societa
            input(name="name" type="text" class="company")
      .row
        .col.col-12
          label.input-label
            span(class="plaseholder-title") Cognome
              span(class="symbol")  *
            input(name="last name" type="text" required="yes" class="last-name nomargin")
        .col.col-12
          label.input-label
            span(class="plaseholder-title") Email
              span(class="symbol")  *
            input(name="email" type="text" required="yes" class="email ")
      .row
        .col.col-12
          label.input-label
            span(class="plaseholder-title") Telefono
            input(name="phone" type="text" required="no" class="phone nomargin")
      .row
        .col.col-12
          textarea(name="request" placeholder="Richiesta" class="request")
      .row
        .col.col-8
          .radio-block
            .lp-no-consent-to-processing__requared campi obbligator
            input(name="consent to processing" id="consent-to-processing" type="radio" class="consent-to-processing" value="yes" required="yes")
            label(for="no-consent-to-processing") Si
            input(name="consent to processing" checked="yes" id="no-consent-to-processing" type="radio" class="no-consent-to-processing" value="no" required="yes")
            label(for="no-consent-to-processing") No
            .lp-consent-to-processing__description Autorizzazione al trattamento dei dati personali secondo le normative vigenti.
        .col.col-4
          input(class="button button__submit" type="submit" value="invia")
