.footer {
  @include full-width();
  background-color: $color_red_background;
  padding: 10px;
  white-space: nowrap;

  &__content {
    @include clearfix();
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
  }
  &__navigation {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 50px;
  }
  &__home-link {
    display: inline-block;
    margin-top: 5px;
    margin-right: 30px;

    a {
      font-weight: 400;
      color: $color_footer_gray_fonts;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      white-space: nowrap;

      &:after {
        font-family: 'FontAwesome', sans-serif;
        content: '\f015';
        font-size: 18px;
        color: black;
        padding-left: 10px;
        position: relative;
        top: 3px;
      }
    }
  }
  &__anchor {
    display: inline-block;
    margin-top: 5px;

    a {
      display: inline-block;
      font-weight: 400;
      color: $color_footer_gray_fonts;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      padding-right: 11px;
      white-space: nowrap;

      &:after {
        font-family: 'FontAwesome', sans-serif;
        content: '\f139';
        font-size: 18px;
        color: black;
        padding-left: 10px;
        position: relative;
        top: 3px;
      }
    }
  }
  &__left {
    float: left;
  }
  &__right {
    float: right;
    @include clearfix();
  }
}

.footer-logo {
  margin-right: 45px;

  &__image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border: none;
  }
  &__description {
    font-weight: 400;
    color: $color_footer_gray_fonts;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }
}
.footer-navigation {
  &__items {
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: inline-block;
    padding-right: 11px;
    padding-left: 12px;

    + .footer-navigation__item {
      border-left: 1px solid $color_footer_gray_fonts;
    }

    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      border-right: 0;
      padding-right: 0;
    }

    a {
      font-weight: 400;
      color: $color_footer_gray_fonts;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        padding-right: 0;
        border-right: 0;
      }
    }
  }
}
