.header__container {
  .header {
    .header-top__content, .header-middle__content {
      @include clearfix;

      max-width: 1200px;
      margin: 0 auto;
      position: relative;
    }
    .header-top {
      @include clearfix;

      background-color: $color_black_background;
      padding: 17px 0 10px;
      border-bottom: 3px solid;
      border-color: $color_red_background;
      position: relative;
      z-index: 450;

      .login__button {
        display: inline-block;
        letter-spacing: 0.3px;
        color: $color_white_fonts;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 14px;
        float: left;
        position: relative;
        cursor: pointer;
        padding-left: 10px;

        &:before {
          font-family: 'FontAwesome', sans-serif;
          content: '\f090';
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .login__content {
        @include clearfix;

        display: inline-block;
        float: left;

        .login__form {
          display: none;
          position: absolute;
          top: 33px;

          .plaseholder-title {
            bottom: 7px;
          }
          &.open {
            @include clearfix;
            display: block;
            width: 210px;
            z-index: 3;
            background-color: #ffffff;
            box-shadow: 0 1px 6px 1px #999999;
            padding: 5px 5px 10px;

            .user-login, .user-password {
              height: 30px;
              border: none;
              padding-left: 5px;
              width: 199px;
              color: $color_light_gray_fonts;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 14px;
              margin: 0;
            }
            .user-login,
            .user-password {
              border-bottom: 1px solid $color_light_gray_seporator;
            }
            .checkbox-box {
              width: 45%;
              display: inline-block;
              padding-left: 5px;
              .access-checkbox__label {
                color: $color_light_gray_fonts;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 10px;
              }
            }
            .login-button {
              display: inline-block;
              width: 50%;
              background-color: $color_red_background;
              color: #ffffff;
              text-transform: uppercase;
              font-family: 'Oswald', sans-serif;
              font-weight: 300;
              font-size: 14px;
              text-align: left;
              border: none;
              box-shadow: none;
              outline: none;
              height: 25px;
              cursor: pointer;
              margin-top: 10px;
              i {
                font-size: 16px;
                color: $color_white_fonts;
                float: right;
              }
            }
            .login__user-contract {
              display: block;
              padding-left: 5px;
              margin-top: 17px;
              font-family: 'Oswald', sans-serif;
              font-weight: 300;
              font-size: 14px;
              color: $color_red_fonts;
              cursor: pointer;
            }
          }
        }
      }
      .used__button {
        padding-left: 18px;
        border-left: 1px solid $color_gray_fonts;
        margin-left: 19px;
        display: inline-block;
        color: $color_white_fonts;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 14px;
        float: left;
      }
      .searchform {
        position: relative;
        z-index: 1;
        float: left;
        margin-left: 34px;
        margin-top: 3px;

        .icon-search {
          cursor: pointer;
          position: absolute;
          right: 1px;
          box-shadow: none;
          border: 0;
          align-items: center;
          top: -1px;
          padding-right: 4px;
          z-index: 100;
          &.icon-search_log-in {
            background-color: transparent;
            top: 0px;
          }
          &.icon-search_log-out {
            background-color: transparent;
          }
          .fa-search {
            font-size: 12px;
            color: $color_light_gray_fonts;
          }
          &:focus {
            outline: none;
          }
        }
        .header__search {
          $height: 18px;

          display: block;
          box-shadow: none;
          color: $color_light_gray_fonts;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 12px;
          height: $height;
          line-height: $height;
          width: 166px;
          -webkit-appearance: none;
          font-weight: normal;
          padding-left: 4px;
          margin: 0;
        }
        .header__search_log-in {
          background-color: $color_search_gray_background;
          border: 0;
          height: 20px;
        }
        .header__search_log-out {
          background-color: #000;
          border: 1px solid $color_search_gray_background;
        }
        span {
          color: white;
          height: 22px;
          width: 22px;
          position: absolute;
          right: 0px;
          top: -1px;
          z-index: 4;
        }
      }
      .choose-language {
        float: right;
        margin-top: -17px;
        margin-bottom: -15px;
        .jcf-select-opener {
          color: #ffffff;
        }
        .jcf-select {
          background-color: $color_black_header_border;
          padding: 15px 30px 15px 15px;
          &.jcf-select-language {
            .language {
              left: 0px;
              top: 0;
            }
            $jcf-select-width: 120px;
            .jcf-select-text {
              display: block;
              transition: border-color ease-in-out .15s;
              span {
                position: static;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-weight: 300;
                font-size: 16px;
                top: auto;
                padding-left: 0;
                &:after {
                  content: '';
                }
              }
              // &:after {
              //   font-family: 'FontAwesome', sans-serif;
              //   content: '\f107';
              //   font-size: 16px;
              //   padding: 0 10px 0 6px;
              //   color: #ffffff;
              // }
            }
            .jcf-select-drop {
              width: 100% !important;
              max-width: $jcf-select-width;
              position: absolute;
              right: 1px;
              left: auto;
              margin-top: -4px;
              display: block;
              background-color: #ffffff;
              z-index: 11;
              cursor: pointer;
              box-shadow: 0 1px 1px 0 lightgray;
              border: none;

              .jcf-select-drop-content {
                .jcf-list {
                  ul {
                    padding: 5px 5px 0;
                    margin: 0;
                    list-style: none;

                    li {
                      display: block;
                      color: black;
                      padding: 0;

                      span {
                        color: $color_light_gray_fonts;
                        font-size: 13px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Oswald', sans-serif;
                        font-weight: 300;
                        display: block;
                        padding: 5px;
                        border-bottom: 1px solid $color_light_gray_seporator;

                        &.jcf-selected {
                          color: $color_red_fonts;
                          background-color: #ffffff;
                          border-bottom-color: $color_red_fonts;
                        }
                      }

                      &:last-of-type {
                        span {
                          border-bottom: none;
                        }
                      }

                      &:hover {
                        background: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .social-link {
        float: right;
        font-weight: normal;
        font-size: 14px;
        color: $color_white_fonts;
        text-decoration: none;

        ul {
          list-style: none;
          padding: 0;
          margin: 0 25px 0 45px;

          li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;

            a {
              text-decoration: none;
              i {
                font-size: 16px;
                color: $color_white_fonts;
              }
            }
          }
        }
      }
      .work-with-us__button {
        float: right;
        font-size: 14px;
        color: $color_white_fonts;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        padding-left: 21px;
        border-left: 1px solid $color_gray_fonts;
        margin-left: 23px;
        margin-right: 25px;

        &_home {
          margin-right: 0;
          border-left: none;
        }
        &:before {
          font-family: 'FontAwesome', sans-serif;
          content: '\f0c0';
          font-size: 16px;
          padding: 0 5px 0 10px;
        }
      }
      .newsletter-container {
        position: relative;
        float: right;

      }
      .newsletter-button {
        font-size: 14px;
        color: $color_white_fonts;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        border-left: 1px solid $color_gray_fonts;
        margin-left: 23px;
        padding-left: 21px;
        &:before {
          font-family: 'FontAwesome', sans-serif;
          content: '\f003';
          font-size: 16px;
          padding: 0 5px 0 10px;
        }
        &_home {
          border-left: none;
          margin: 0;
          display: none !important;
        }
      }
      .newsletter-subscription__form {
        display: none;

        .plaseholder-title {
          bottom: 15px;
        }

        &.open {
          display: block;
        }

        position: absolute;
        z-index: 3;
        top: 33px;
        left: 24px;
        background-color: #ffffff;
        width: 211px;
        padding: 5px;
        box-shadow: 0 2px 5px rgb(0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      }
      .newsletter-input__email {
        height: 32px;
        margin: 0;
        width: 100%;
        margin-bottom: 9px;
      }
      .newsletter-input__subscription-access-label {
        color: #7e7e7e;
        font-family: 'SourceSansPro', sans-serif;
        font-size: 10px;
        font-weight: 400;
      }
      .newsletter-input__submit {
        display: inline-block;
        margin-top: 13px;
        background-color: $color_red_background;
        text-decoration: none;
        text-transform: uppercase;
        text-align: start;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 14px;
        box-shadow: none;
        outline: none;
        border: none;
        color: #ffffff;
        padding: 6px 7px;
        position: relative;
        width: 50%;
        cursor: pointer;
        i {
          font-size: 18px;
          position: absolute;
          right: 8px;
        }
      }
      .archive-newsletter__button {
        float: right;
        font-size: 14px;
        color: $color_white_fonts;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        border-left: 1px solid $color_gray_fonts;
        margin-left: 23px;
        padding-left: 21px;
        &:before {
          font-family: 'FontAwesome', sans-serif;
          content: '\f187';
          font-size: 16px;
          padding: 0 5px 0 10px;
        }
      }
      .header__home-link {
        float: right;
        text-decoration: none;
        text-transform: uppercase;
        &:after {
          font-family: 'FontAwesome', sans-serif;
          content: '\f015';
          font-size: 16px;
          padding: 0 5px 0 10px;
          color: $color_white_fonts;
        }
      }
    }
    .header-middle {
      padding: 13px 0 0;
      @include clearfix;
      border-top: 2px solid $color_dark_red_background;
      border-bottom: 1px solid  $color_black_header_border;
      background-color: #fff;
      &.stuck {
        position:fixed;
        min-height: 45px;
        top:0;
        width: 100%;
        z-index: 15;
        padding: 0;
        border: none;
        box-shadow: 0 0 5px 0 gray;

        .header-middle__content {
          padding: 10px;
        }
        .header-middle__links {
          padding: 0;
          margin: 0;
        }
        .header-middle__hamburger {
          top: 3px;
        }
        .header__logo-title {
          &--static {
            display: none;
          }
          &--fixed {
            display: block;
          }
        }
      }
      .header__logo-title {
        &--fixed {
          display: none;
        }
      }
      &__logo {
        float: left;
        padding: 0 10px;
      }
      &__hamburger {
        display: none;
      }
      &__links {
        float: right;
        margin: 35px 0 0;
        padding: 0 10px 29px 10px;
        position: relative;
        top: 1px;
        list-style: none;
        .header-middle__link {

          display: inline-block;

          + .header-middle__link {
            border-left: 2px solid $color_red_background;
          }

          a {
            display: inline;
            margin: 0 22px;
            text-decoration: none;
            font-size: 22px;
            color: $color_gray_fonts;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 300;

            &:hover {
              color: $color_dark_gray_fonts_hover;
            }

            &.active {
              font-weight: 400;
              font-size: 21px;
              color: $color_dark_gray_fonts_hover
            }
          }
          &:last-child {
            padding-right: 0;

            a {
              margin-right: 0;
            }
          }
        }
        .choose-language-mobile {
          display: none;
        }
      }
    }

    .header-subbottom__links {
      z-index: 10;
      list-style:none;
      display: none;
      position: absolute;
      padding: 13px 0 0;
      width: 100%;
      max-width: 1200px;
      top: 40px;
      background-color: #333333;
      flex-wrap: wrap;
      cursor: pointer;
      @include  clearfix;
      .header-subbottom__link {
        float: left;
        padding-top:1px;
        margin-left: 6.5px;
        margin-right: 6.5px;
        margin-bottom: 13px;
        position: relative;
        .header-subbottom__image {
          display: block;
        }
        .header-subbottom__text {
          display: table-cell;
          font-family: "Oswald", sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          height: 50px;
          vertical-align: middle;
          line-height: 1.2;
          border-bottom: 1px solid $color_light_gray_seporator;
          width: 278px;
          padding-left: 6px;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          .header-subbottom__text {
            background-color: $color_red_background;
            border-bottom: none;
          }
        }
      }
      .header-subbottom__products-container {
        display: none;
        width: 100%;
        clear: both;
        background-color: $color_light_gray_seporator;
        box-shadow: inset 0 15px 15px  -15px #333 , inset 0 -15px 15px  -15px #333;
        position: relative;
        cursor: auto;
        padding: 20px 32px 10px 29px;
        .products-container__title {
          font-family: "Oswald", sans-serif;
          font-size: 22px;
          color: $color_red_fonts;
          text-transform: uppercase;
          font-weight: 400;
          margin: 0 0 20px;
        }
        .products-container__link {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 18px;
          color: $color_red_fonts;
          position: absolute;
          top: 22px;
          right: 32px;
          cursor: pointer;
        }
        .products-container__items {
          list-style: none;
          padding: 0;
          .product-container__item {
            display: inline-block;
            margin-right: 5.5px;
            margin-left: 5.5px;
            border-bottom: 1px solid $color_red_background;
            margin-bottom: 20px;
            cursor: pointer;
            .product-container__item-image {
              display: block;
            }
            .product-container__item-title {
              font-family: "Oswald",sans-serif;
              font-size: 18px;
              font-weight: 400;
              color: #000000;
              text-transform: uppercase;
              margin: 8px 0 0;
            }
            .product-container__item-description {
              font-family: "Source Sans Pro",sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #000000;
              margin-bottom: 4px;
              max-width: 335px;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
        &.active {
          display: block;
        }
      }
      &:before {
        content: '';
        position: absolute;
        right: 225px;
        top: -17px;
        border: 8px solid transparent;
        border-bottom: 9px solid #333333;
      }
    }
  }
}
.fix-header {
  z-index: 10;
  display: none;
  top: 0;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 2px 5px 2px $color_light_gray_seporator;
  .fix-header__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px 5px 10px;
    @include clearfix;
    .fix-menu {
      padding-left: 15px;
      float: left;
    }
    .fix-navigation  {
      position: relative;
      top: 3px;
      float: right;
      padding: 0 10px 0 5px;
      .fix-navigation__items {
        list-style: none;
        padding: 0;
        margin: 0;
        .fix-navigation__item {
          display: inline-block;
          border-left: 2px solid $color_red_background;
          a {
            display: block;
            padding: 0 22px;
            text-decoration: none;
            font-size: 22px;
            color: $color_gray_fonts;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 300;
            cursor: pointer;
            &:hover {
              color: $color_dark_gray_fonts_hover;
            }
          }
          &:first-child {
            border: none;
          }
          &:last-child {
            a {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  &.active {
    display: block;
  }
}

.header-bottom__content {
  @include clearfix;
  margin-bottom: 6px;
}

.lp-header {
  border-top: 4px groove $color_red_fonts;
}

.lp-header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px 25px;
  @include clearfix;
}

.lp-header__logo {
  float: left;
}

.lp-header__title {
  float: right;
  padding-top: 16px;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: $color_red_fonts;
  text-transform: uppercase;
}
