.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;

  &--small {
    max-width: 1020px;
  }
  &--medium {
    max-width: 1120px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-bottom: 15px;
}
.col-6 {
  width: 49.5%;
}
.col-12 {
  display: block;
  width: 100%;
}
.col-8 {
  width: 66%;
}
.col-4 {
  width: 32.5%;
}
