.about-us-section {
  margin-top: 48px;
}
.about-us {
  &__footer {
    background-color: $color_light_gray_seporator;
    padding: 36px 20px 35px;
    @include full-width();
  }
  &__footer-title {
    color: $color_red_fonts;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
}
.wide-img {
  @include full-width();

  position: relative;
  overflow: hidden;

  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 35%;
    overflow: hidden;
  }

  &__img {
    @include cover-img();
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 70px;
    text-shadow: 0 0 9px #010101;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(-50%);

    &.right {
      left: auto;
      right: 70px;
    }

    &.center {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.bg {
      padding: 10px 20px;
      background-color: rgb(27, 27, 27);
      background-color: rgba(27, 27, 27, .7);
      text-shadow: none;
    }
  }
}
.about-us-grid {
  margin-top: 55px;
  &__title {
    color: $color_red_fonts;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 64px;
  }
  &__description {
    color: $color_gray_fonts;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    max-width: 1064px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  &__list {
    margin: 0 -40px;
    font-size: 0;
    text-align: center;
  }
  &__column {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 40px;
    font-size: initial;
    box-sizing: border-box;
    margin-bottom: 70px;
    text-align: left;
  }
  &__column-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  &__column-description {
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    font-size: 20px;
  }
  &__icon-wrap {
    text-align: center;
    margin-bottom: 60px;
    margin-right: 60px;
  }
  &--with-icon {
    .about-us-grid__column-title {
      font-size: 20px;
      color: $color_red_fonts;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &--gray {
    @include full-width();
    background-color: #e5e5e5;
    .about-us-grid{
      &__column {
        text-align: center;
        padding: 20px 25px 55px;
        border-right: 2px solid #ffffff;
        margin-bottom: 0;
        &:last-child {
          border: none;
        }
      }
      &__list {
        margin: 0;
      }
      &__column-title {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: $color_block_footer_gray_fonts;
        margin-bottom: 30px;
        text-transform: initial;
      }
      &__column-description {
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        color: $color_block_footer_gray_fonts;
      }
    }
  }
}
.img-plus-list {
  @include full-width();
  background-color: $color_light_gray_seporator;
  font-size: 0;
  @include clearfix();
  &__leftside {
    display: inline-block;
    vertical-align: middle;    
    width: 47%;
    text-align: center;
    padding: 30px;
    font-size: initial;
    min-width: 385px
  }
  &__rightside {
    display: inline-block;
    vertical-align: middle;
    padding: 70px 40px 70px 0;
    width: 53%;
    font-size: initial;
  }
  &__img-wrap {
    position: relative;
    display: inline-block;
    width: 325px;
    height: 325px;
    border-radius: 50%;
    border: 3px solid #ce2414;
    overflow: hidden;
  }
  &__img {
    @include cover-img();
  }
  &__item {
    position: relative;
    margin-bottom: 30px;
    i {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 29px;
      color: $color_gray_fonts;
      border-radius: 50%;
      border: 1px solid $color_gray_fonts;
      padding: 12px;
      margin-right: 36px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-text {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: $color_gray_fonts;
    padding-right: 48px;
    margin-left: 80px;
  }
}
