.about-us {
  margin-top: 48px;
  &__photo-wrap {
    position: relative;
    width: 100%;
    padding-top: 35%;
    overflow: hidden;
    img {
      @include cover-img();
    }
  }
  .about-us__block-1 {
    .about-us__photo-block-1 {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
    }
    .about-us__description-1 {
      position: absolute;
      top: 35%;
      left: 70px;
      text-shadow: 0 0 9.3px #010101;
      color: #ffffff;
      font-family: "Oswald", sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .about-us__under-block-1 {
      max-width: 1020px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      .under-block-1__title {
        color: $color_red_fonts;
        font-family: "Oswald",sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin-top: 56px;
        margin-bottom: 64px;
      }
      .under-block-1__3-column {
        margin: 0 -40px;
        font-size: 0;
        .block-1-3-column {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 0 40px;
          font-size: initial;
          box-sizing: border-box;

          .block-1-3-column__title {
            font-weight: 700;
            text-transform: uppercase;
            color: #000000;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 20px;
          }
          .block-1-3-column__description {
            font-weight: 300;
            font-family: "Source Sans Pro", sans-serif;
            font-style: italic;
            font-size: 20px;
          }
        }
      }
    }
    .about-us__footer-block-1 {
      background-color: $color_light_gray_seporator;
      padding: 36px 20px 35px;
      max-width: 1200px;
      margin: 66px auto 0;
      .footer-block-1__title {
        color: $color_red_fonts;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .about-us__block-2 {
    .about-us__photo-block-2 {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
      .about-us__photo-2 {
        max-width: 1200px;
        width: 100%;
      }
    }
    .about-us__description-2 {
      position: absolute;
      top: 50%;
      right: 55px;
      transform: translateY(-50%);
      text-shadow: 0 0 9.3px #010101;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .about-us__under-block-2 {
      margin: 49px auto 0;
      font-size: 0;
      padding-left: 20px;
      padding-right: 20px;
      .under-block-2__3-column {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        font-size: initial;
        padding: 0 65px;
        box-sizing: border-box;
        margin-bottom: 70px;
        .block-2-3-column__image {
          text-align: center;
          margin-bottom: 60px;
        }
        .block-2-3-column__title {
          font-size: 20px;
          color: $color_red_fonts;
          font-family: 'Oswald', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
        }
        .block-2-3-column__description {
          color: #000000;
          font-family:"Source Sans Pro", sans-serif;
          font-weight: 300;
          font-size: 20px;
          font-style: italic;
        }
      }
    }
  }
  .about-us__block-3 {
    .about-us__photo-block-3 {

      position: relative;
      margin: 0 auto;
      max-width: 1200px;
      .about-us__photo-3 {
        max-width: 1200px;
        width: 100%;
      }
    }
    .about-us__description-3{
      position: absolute;
      top: 38%;
      left: 56px;
      text-shadow: 0 0 9.3px #010101;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .about-us__under-block-3 {
      .under-block-3__2-column {
        max-width: 1200px;
        margin: 0 auto;
        background-color: $color_light_gray_seporator;
        padding: 34px 20px 36px;
        @include clearfix;
        .block-2-3-column__image {
          width: 49.8%;
          float: left;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
        .block-2-3-column__description {
          width: 49.8%;
          float: left;
          margin-top: 42px;
          .block-3-2-column {
            position: relative;
            margin-bottom: 30px;
            i {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              font-size: 29px;
              color: $color_gray_fonts;
              border-radius: 50%;
              border: 1px solid $color_gray_fonts;
              padding: 12px;
              margin-right: 36px;
            }
            .block-3-2-column__title {
              display: inline-block;
              font-family: "Source Sans Pro", sans-serif;
              font-size: 24px;
              font-weight: 300;
              color: $color_gray_fonts;
              padding-right: 48px;
              margin-left: 80px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .block-2-3-column {
    &__img-wrap {
      position: relative;
      width: 325px;
      height: 325px;
      border-radius: 50%;
      border: 3px solid #ce2414;
      overflow: hidden;
      img {
        @include cover-img();
      }
    }
  }
  .about-us__block-4 {
    .about-us__photo-block-4 {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
    }
    .about-us__description-4 {
      position: absolute;
      top: 45%;
      right: 115px;
      text-shadow: 0 0 9.3px #010101;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .about-us__under-block-4 {
      padding-top: 65px;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 1200px;
      margin: 0 auto;
      .under-block-4__title {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        color: $color_red_fonts;
        text-align: center;
      }
      .under-block-4__description {
        color: $color_gray_fonts;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        max-width: 1064px;
        margin: 48px auto 75px;
      }
      .block-4-3-column_container {
        /*max-width: 1080px;*/
        margin: 0 0 60px;
        font-size: 0;
        .block-4-3-column {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 0 35px;
          .block-4-3-column__title {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 20px;
            color: #000000;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
          }
          .block-4-3-column__description {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 20px;
            color: #000000;
            font-weight: 300;
            font-style: italic;
            /*padding-right: 82px;*/
          }
        }
      }
      .under-block-4__footer {
        padding: 3px 0px 4px 0px;
        background-color: $color_light_gray_seporator;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 0;
        .block-4-3-column {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 21px 21px 52px 21px;
          border-right: 2px solid #ffffff;
          &:last-child {
            border-right: 0;
          }
          .block-4-3-column__title {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $color_block_footer_gray_fonts;
            margin-bottom: 30px;
          }
          .block-4-3-column__description {
            text-align: center;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $color_block_footer_gray_fonts;
          }
        }
      }
    }
  }
}
