.breadcrumbs {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 15px;

  &__link {
    text-decoration: none;
    color: inherit;
    margin-right: 5px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &__separator {
    margin-right: 5px;
  }
  &__current {
    @extend .breadcrumbs__link;
    color: $color_red_fonts;
    text-decoration: underline;
  }

  &.breadcrumbs_only-title {
    padding:  22px 0 27px;

    .breadcrumbs__page-title {
      margin: 0;
    }
  }
}

.page__anchors {
  float: right;
  margin-top: 15px;

  .anchor__items {
    list-style: none;
    padding: 0;
    margin: 0;

    .anchor__item {
      display: inline-block;
      position: relative;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: $color_red_fonts;
      text-transform: uppercase;
      padding: 0 12px;

      + .anchor__item {
        border-left: 2px solid #6f6f6f;
      }

      > a {
        color: inherit;
        text-decoration: none;
      }

      .anchor__submenu {
        display: none;
        position: absolute;
        background-color: #ffffff;
        z-index: 2;
        list-style: none;
        margin: 0;
        padding: 0 10px;
        width: 234px;
        right: 10px;
        box-sizing: border-box;
        .anchor__submenu-item {
          a {
            font-family: "Oswald", sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: $color_gray_fonts;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 9px 0 11px 0;
            border-bottom: 1px solid $color_light_gray_seporator;
          }
          &:last-of-type {
            a {
              border-bottom: none;
            }
          }
          &:hover {
            a {
              color: $color_red_fonts;
              border-bottom-color: $color_red_background;
            }
          }
        }
      }

      &:hover {
        .anchor__submenu {
          display: block;
        }
      }

      &--icon {
        .icon {
          display: none;
          font-size: 26px;
          color: #000;
        }
      }
    }
  }
}

.fair-event-information {
  position: absolute;
  right: 10px;
  top: 38px;
}

.fair-event__dates {
  text-align: right;
  padding-right: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 23px;

  &:before,
  &:after {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background: url("../images/fairs_breadcrumbs_icon-1.png") 100% 100% no-repeat;
  }
  &:after {
    content: '';
    background-position: 100% 0;
    margin-left: 5px;
  }
  &:before {
    background-position: 0 0;
    margin-right: 5px;
  }
}
.fair-event__location {
  text-align: right;
  padding-right: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 23px;

  &:before,
  &:after {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/fairs_breadcrumbs_icon-2.png");
    background-repeat: no-repeat;
  }
  &:after {
    content: '';
    background-position: 100% 0;
    margin-left: 5px;
  }
  &:before {
    background-position: 0 0;
    margin-right: 5px;
  }
}
