//Slick slidel

.slick-slide {
  outline: none;
}

.division-carousel {
  margin-top: 65px;
  position: relative;

  &__title {
    @extend .h3;
    @extend .h3--border-red;

    color: $color_red_fonts;
    font-size: 30px;
    font-weight: 400;

    &:before {
      border-color: #000000;
    }
  }
  
  img {
    width: 100%;
  }
  .slider-division__slide {
    padding: 0;
  }
  .frame-item {
    &__header {
      color: $color_red_fonts;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 6px;
      background-color: #fff;
      span {
        color: #000000;
      }
    }
    &__footer{
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 18px;
      background-color: #ededed;
      text-transform: uppercase;
      color: #000000;
      padding: 8px 0 8px 4px;
      position: relative;
      bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.slider-division {
  position: relative;
  font-size: 0;
  overflow-x: auto;
  white-space: nowrap;
  word-wrap: normal;
  &__slide-wrap {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 0 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: initial;
  }
  &__slide {
    display: block;
    padding: 4px;
    background-color: #ededed;
    border-bottom: 1px solid $color_red_background;
    text-decoration: none;
    color: inherit;
  }
  &__img-wrap {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.slider-nav {
  padding: 20px 5px 22px;
  margin-top: 0;
  border-top: none;
  background-color: #e5e5e5;
  &:before {
    content: '';
    display: block;
    margin: 0 8px 20px;
    height: 0;
    border-top: 1px solid $color_red_background;
  }
  .slider-division {
    &__slide {
      transition: .3s;
      .frame-item__footer {
        color: $color_red_fonts;
        font-family: "Source Sans Pro", sans-serif ;
        font-size: 18px;
        padding: 10px 0 10px 7px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:hover,
      &.active {
        background-color: #333333;
      }
      &.video-btn {
        &:after {
          margin-top: -40px;
        }
      }
    }
  }
}
.channel-item__carousel {
  .webtv-carousel__items {
    .slick-arrow {
      border: none;
      box-shadow: none;
      background: none;
      outline: none;
      font-size: 0;
      cursor: pointer;
      z-index: 1;
      transform: translateY(-50%);
      &.slick-prev {
        position: absolute;
        left: -8px;
        top: 50%;
      }
      &.slick-next {
        position: absolute;
        top: 50%;
        right: -6px;
      }
    }
  }
}
.video-btn {
  position: relative;
  &:after {
    position: absolute;
    content:'';
    top: 50%;
    left: 50%;
    width: 49px;
    height: 35px;
    background-image: url("../images/youtube-icon.png");
    cursor: pointer;
    margin-top: -18px;
    margin-left: -25px;
    opacity: .8;
    transition: .5s;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}
.product-detail__carousel {
  margin: 0 auto;
  @include full-width();
}
.mCS-breton.mCSB_scrollTools.mCSB_scrollTools_horizontal  {
  height: 20px;
  .mCSB_buttonLeft,
  .mCSB_buttonRight {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    opacity: 1;
  }
  .mCSB_buttonLeft {
    border-right: 12px solid #ce2414;
    left: -10px;
  }
  .mCSB_buttonRight {
    border-left: 12px solid #ce2414;
    right: -10px;
  }
  .mCSB_draggerContainer {
    margin: 0 30px !important;
    .mCSB_dragger_bar {
      height: 5px !important;
      background: #ce2414 !important;
      border-radius: 0 !important;
      margin: 8px auto !important;
    }
    .mCSB_draggerRail {
      background: #ededed;
      height: 5px;
      border-radius: 0;
      margin: 8px 0;
    }
    &:hover {
      .mCSB_dragger_bar {
        background: darken(#ce2414, 5%) !important;
      }
      .mCSB_draggerRail {
        background: darken(#ededed, 5%);
      }
    }
  }
  
}
