.company-vision {
  margin: 0 auto;
  box-sizing: border-box;
}

.company-vision__header {
  padding: 44px 0 47px;
}

.company-vision__main-title {
  margin: 0 0 26px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color:  $color_red_fonts;
  text-transform: uppercase;
}

.company-vision__description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.company-vision__bullet {
  @include clearfix;
  margin-bottom: 45px;
}

.company-bullet__title {
  @extend .h3;
  color: $color_red_fonts;
  &:before {
    border-bottom: 1px solid #aaaaac;
  }
}

.company-bullet__image {
  padding-bottom: 20px;
  width: 33.3333%;

  &_left {
    float: left;
    padding-right: 20px;
  }
  &_right {
    float: right;
    padding-left: 20px;
  }
  &_full+.company-bullet__content {
    float: none;
    width: 100%;
  }
  &_full {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.company-bullet__content {
  width: 66.6667%;
  float: left;
}

.company-bullet__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  &_title {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.company-bullet__link {
  position: relative;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  padding-left: 25px;
  margin-bottom: 5px;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '\f1c1';
    font-family: "FontAwesome", sans-serif;
    color: $color_red_fonts;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.company-vision__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.company-contacts__item {
  display:  inline-block;
  width: 24%;
  border-right: 1px solid #aaaaaa;
  margin-bottom: 40px;
  text-align: center;
  &:last-child {
    border-right: none;
  }
}

.company-contacts__company-name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.company-contacts__company-email {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  text-transform: lowercase;
  text-align: center;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
