.content-header {
  @include clearfix;

  margin-left: -$gutter;
  margin-right: -$gutter;
  background-color: $color_light_gray_seporator;
  position: relative;
  padding: 23px 10px;

  &--breadcrumbs {
    padding: 7px 10px;
  }
}
.page-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: $color_red_fonts;
  text-transform: uppercase;
  display: inline-block;
}
