.contact-us-adresses {
  max-width: 1200px;
  box-sizing: border-box;
  margin:25px auto 0 auto;
  position: relative;
  @include clearfix;
}


.contact-us-adresses__title {
  @extend .h3;
  > span {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: $color_black_background;
    text-transform: uppercase;
  }
  &:before {
    border-color: $color_red_background;
  }
}

.contact-us-adresses__location {
  float: left;
  margin-right: 50px;
}

.contact-us-adresses__general {
  float: left;
  margin-right: 25px;
}


.contact-us-adresses__service {
  float: left;
  margin-right: 96px;
}

.contact-us-adresses__details {
  float: left;
}

.contact-us-adresses__block-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contact-us-adresses__block-content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
.contact-us-adresses__phone {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
