
.cookie {
  background-color: rgb(27,27,27);
  background-color: rgba(27,27,27,0.85);
  position: absolute;
  z-index: 50;
  top: 10px;
  right: 10px;
  width: 380px;
  padding: 10px 14px;

  &.closed {
    display: none;
  }
  .cookie__title {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 25px;
    .button__close {
      font-size: 0;
      color: #ffffff;
      &:after {
        text-decoration: none;
        font-size: 18px;
        font-family: 'FontAwesome', sans-serif;
        content: '\f00d';
        float: right;
        cursor: pointer;
        padding-left: 10px;
      }
    }
  }
  .cookie__description {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-right: 30px;
  }
}
