.divisions_wrapper {
  @include full-width();
  background-color: $color_light_gray_seporator;
  padding: 25px 15px 10px;
  box-sizing: border-box;
  .division {
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px 0 gray;
    margin-bottom: 40px;
    text-decoration: none;
    color: inherit;
    &__image-wrap {
      position: relative;
      width: 100%;
      padding-top: 35%;
      overflow: hidden;
    }
    &__image {
      @include cover-img();
      -webkit-transition: .3s;
      transition: .3s;
    }
    &__description {
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.7);
      padding: 35px 0 35px 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      -webkit-transition: scale .3s;
      transition: scale .3s;
    }
    &__link {
      font-family: 'Oswald', sans-serif;
      font-size: 36px;
      font-weight: normal;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      .division__image {
        transform: scale(1.034);
      }
      .division__description {
        background-color: rgb(206, 36, 20);
        background-color: rgba(206, 36, 20, 0.9);
      }
    }
  }
}
