.divison-news {
  margin: 37px auto 0;
  @include full-width();
  background-color: $color_light_gray_seporator;
  padding: 12px;
  box-sizing: border-box;
}


.division-news__breadcrumbs {
  a {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    &.active-crumb {
      color: $color_red_fonts;
    }
  }
}

.division-news__title {
  @extend .h3;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: $color_red_fonts;
  margin-bottom: 15px;
  &:before {
    border-color: #000000;
  }
  span {
    background-color: $color_light_gray_seporator;
  }
}

.division-news__link {
  margin-top: 10px;
}

.division-news__content {
  //@include clearfix;
  margin-left: -6px;
  margin-right: -6px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.division-news__sizer {
  width: 25%;
}

// .division-news__gutter {
//   width: 1%;
// }

.division-news__item {
  margin-bottom: 12px;
  //margin-top: 4px;
  //padding: 6px;
  //height: 120px;
  box-sizing: border-box;
  padding: 0 6px;
  img {
    width: 100%;
    margin-bottom: -4px;
  }
  &_1 {
    width: 25%;
  }
  &_2 {
    width: 50%;
  }
  &_3 {
    width: 75%;
  }
  &_4 {
    width: 100%;
  }
}

.division-news__news-content {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 14px;
}

.division-news__news-title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #000000;
  margin: 0;
  font-weight: 400;
}

.division-news__news-date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: $color_gray_fonts;
}

.division-news__news-description {
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #000000;
  .text-link {
    cursor: pointer;
    color: $color_red_fonts;
    text-decoration: none;
    font-weight: 600;
  }
}

.division-news__news-link {
  cursor: pointer;
  color: $color_red_fonts;
  text-decoration: none;
  font-weight: 600;
  display: block;
  text-align: right;
}

.division-news__footer {
  background-color: #ffffff;
  padding-top: 35px;
  margin-bottom: 60px;
}
