.division-contact {
  margin: 35px auto 50px;
  max-width: 1200px;
  box-sizing: border-box;
  position: relative;
}

.division-contact__title {
  @extend .h3;
  color: #000000;
  &:before {
    border-color: $color_red_background;
  }
}

.division-contact__treatment {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #323232;
  margin-top: 15px;
}
