.fairs-list {
  margin: 0 auto;
  box-sizing: border-box;
}

.fairs-category {
  margin-top: 25px;
  position: relative;
}

.fairs-category__title {
  @extend .h3;
  > span {
    padding-right: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: $color_red_fonts;
  }
  &:before {
    border-color: #000000;
  }
}

.fairs-category__items {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}
.fairs-category__item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  width: calc(100%/3);
  font-size: initial;
  min-height: 220px;
  padding: 0 10px;
  margin-bottom: 25px;
}
.fairs-category__content {
  background-color: $color_light_gray_seporator;
  border-bottom: 1px solid $color_red_background;
  height: 100%;
}

.fairs-item__date {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 6px;
  background: #ffffff;
  span {
    color: $color_red_fonts;
  }
}

.fairs-item__image {
  position: relative;
  width: 100%;
  padding-top: 56%;
  overflow: hidden;
  img {
    @include cover-img();
  }
}

.fairs-item__footer {
  padding: 22px 6px;
  box-sizing: border-box;
  position: relative;
}

.item-footer__title {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.item-footer__description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 4px;
}

.item-footer__link {
  a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: $color_red_fonts;
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    display: block;
  }
}

.fairs-list__button {
  margin-top: 50px;
  margin-bottom: 50px;
}
