.fairs-cards {
  margin: 0 auto;
  box-sizing: border-box;
}
.fairs-card {
  margin-top: 45px;
  position: relative;
  @include clearfix;
}

.fairs-card__title {
  @extend .h3;
  > span {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color_red_fonts;
  }
}

.fairs-card__description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.fairs-card__media-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 56.4%;
  > iframe,
  > img {
    @include cover-img();
  }
  
}

.fairs-card__media {
  width: 100%;
  max-width: 700px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  &.right {
    float: right;
    margin-right: 0;
    margin-left: 20px;
  }
}
