.job-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  &__title {
    @extend .h3;

    > span {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 22px;
      text-transform: uppercase;
      padding-right: 18px;
      color: #1b1b1b
    }
    &:before {
      border-color:$color_red_background; 
    }  
  }
  &__description {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin: 30px 0 50px;
  }
}
.job-form__form {
  fieldset {
    border: none;
    position: relative;
    margin-bottom: 40px;
  }
}

.job-form__person-english {
  .jcf-radio {
    span {
      background-color: transparent;
    }
    &.jcf-checked {
      span {
        background-color: $color_gray_bullits;
      }
    }
  }
}

.job-form__person-french {
  display: inline-block;
  width: 100%;
  padding: 17px 10px 17px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_light_gray_seporator;

  label {
    padding-right: 18px;
    &:last-of-type {
      padding: 0;
    }
  }
  .jcf-radio {
    span {
      background-color: transparent;
    }
    &.jcf-checked {
      span {
        background-color: $color_gray_bullits;
      }
    }
  }
}

.job-form__person-german {
  display: inline-block;
  width: 100%;
  padding: 17px 10px 17px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_light_gray_seporator;

  label {
    padding-right: 18px;
    &:last-of-type {
      padding: 0;
    }
  }
  .jcf-radio {
    span {
      background-color: transparent;
    }
    &.jcf-checked {
      span {
        background-color: $color_gray_bullits;
      }
    }
  }
}

.job-form__person-spanish {
  display: inline-block;
  width: 100%;
  padding: 17px 10px 17px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_light_gray_seporator;

  label {
    padding-right: 18px;
    &:last-of-type {
      padding: 0;
    }
  }
  .jcf-radio {
    span {
      background-color: transparent;
    }
    &.jcf-checked {
      span {
        background-color: $color_gray_bullits;
      }
    }
  }
}

.job-form__person-other {
  display: inline-block;
  width: 100%;
  padding: 17px 10px 17px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_light_gray_seporator;

  label {
    padding-right: 18px;

    &:last-of-type {
      padding: 0;
    }
  }
  .jcf-radio {
    span {
      background-color: transparent;
    }
    &.jcf-checked {
      span {
        background-color: $color_gray_bullits;
      }
    }
  }
}

.job-form__language-title {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  float: left;

  .input-label {
    border-bottom: none;

    .plaseholder-title {
      text-transform: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 200;
      text-align: left;
    }
  }

  input {
    width: 100px;
    border-bottom: none;
    margin: 0;
    height: 18px;
  }
}


.job-form__area-interest {
  .jcf-checkbox  {
    margin-top: 20px;
    width: 18px;
    height: 18px;
    border-radius: 4px;

    span {
      height: 7px;
      width: 12px;
    }
  }
  .job-form__person-stage-label {
    position: relative;
    top: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color_block_footer_gray_fonts;
  }
}

.job-form__last-job {
  .jcf-file {
    display: block;
    margin-bottom: 65px;
    position: relative;
    .jcf-fake-input {
      border: 1px solid $color_light_gray_seporator;
      box-shadow: 0 0 2px 0 $color_light_gray_seporator;
      width: 160px;
      padding: 8px 0px 8px 3px;
      display: inline-block;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      font-weight: 200;
      color: $color_light_gray_fonts;
      margin-right: 25px;
      position: relative;
      &:after {
        font-family: "FontAwesome", sans-serif;
        content: '\f016';
        color: $color_red_fonts;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .jcf-upload-button {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      font-weight: 200;
      color: black;
    }
    .jcf-real-element {
      left: 0;
      height: 36px;
      width: 290px;
    }
  }
}
.radio-text {
  display: inline-block;
  vertical-align: middle;
}
