.lp-content__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  @include clearfix;
}

.lp-offer {
  width: 47.5%;
  float: left;
  margin-right: 5%;
}

.lp-offer__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: $color_red_fonts;
  text-transform: uppercase;
}

.lp-offer__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}