.lp-contact {
  float: left;
  position: relative;
  width: 47.5%;
  margin-top: 25px;
}

.lp-contact__title {
  @extend .h3;
  > span {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    padding: 0 10px;
  }
  &:before {
    border-color: $color_red_background;
  }
}

.lp-contact__treatment {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #323232;
  padding: 0 10px;
  margin-top: 15px;
}
.lp-contact__form {
  padding: 0 10px;
  .radio-block {
    margin-top: 0;
    width: 70%;
    @include clearfix;
    margin-bottom: 110px;
    .lp-consent-to-processing__description {
      position: absolute;
      width: 49%;
      &:after {
        content: '  *';
        color: $color_red_fonts;
      }
    }
  }
  .button__submit {
    margin-top: 47px;
  }
  textarea {
    height: 120px !important;
  }
}

.lp-consent-to-processing__description {
  color: $color_light_gray_fonts;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
}
.lp-no-consent-to-processing__requared {
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  margin-bottom: 28px;
  &:before {
    content: '*  ';
    color: $color_red_fonts
  }
}
