.map {
  &__legend {
    max-width: 886px;
    margin: 0 auto;
  }
  &__section {
    vertical-align: top;
    width: 32%;
    display: inline-block;
    margin-top: 29px;
    margin-bottom: 10px;
    margin-right: 1%;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__description {
    display: inline-block;
    width: 75%;
  }
  &__image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 54%;
    overflow: hidden;
    img {
      @include contain-img();
    }
  }
}

.map_number {
  &__image {
    vertical-align: top;
    padding-top: 11px;
    margin-right: 10px;
  }
  &__number {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    color: $color_map_gray_fonts;
    display: inline-block;
  }
  &__text {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color_map_gray_fonts;
    font-weight: 600;
  }
}
