.btn-ajax-view-more {
  margin-top: 25px;
  margin-bottom: 45px;
}
.newsletter {
  margin: 28px auto 0;
  box-sizing: border-box;
  &__list {
    @include nl();
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 33%;
    font-size: initial;
    margin-bottom: 40px;
  }
  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: 1;
      opacity: 0;
      transition: .3s;
    }

    &:hover {
      border-color: $color_red_fonts;
      &:before {
        opacity: .5;
      }
      .newsletter{
        &__img {
          transform: scale(1.05);
        }
        &__text {
          color: $color_red_fonts;
        }
      }
    }
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
  }
  &__img {
    @include cover-img();
    transition: .3s;
  }
  &__date {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
  }
  &__day {
    &:after {
      content: ' /';
      color: $color_red_fonts
    }
  }
  &__month {
    &:after {
      content: ' /';
      color: $color_red_fonts
    }
  }
  &__text {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: .3s;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 22px;
    z-index: 1;
  }
}
