.popup_create-account {
  max-width: 577px;

  .popup__form {
    .form__title {
      color: $color_red_fonts;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 16px;
      border-bottom: 1px solid #000000;
      margin-bottom: 13px;
    }
  }
  .fancybox-close-small {
    color: $color_red_fonts;
    font-weight: 900;
  }
}
