.popup {
  margin-top: 8px;
  margin-bottom: 8px;

  .mfp-close {
    color: #ce2414;
    font-size: 21px;
    line-height: 1;
    font-weight: 900;
    top: 4px;
    right: 4px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background .2s;
    opacity: 1;

    &:hover {
      background: #eee;
    }
  }

  &__back {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: $color_red_fonts;
    text-decoration: none;
  }

  &--back {
    .mfp-close {
      display: none;
    }
  }
}

.mfp-inline-holder {
  .popup {
    padding: 15px 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background: #ffffff;
  }
}