.popup-reserved-area {
  max-width: 900px;

  .fancybox-close-small {
    color: $color_red_fonts;
    font-weight: 900;
  }
  .popup__redirect {
    .popup-redirect__header {
      @include clearfix;

      padding-bottom: 8px;
      border-bottom: 1px solid #000000;

      .popup-redirect__logo {
        float: left;
      }

      .popup-redirect__description {
        float: right;
        clear: right;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $color_red_fonts;
        text-transform: uppercase;
        margin-top: 15px;
      }
    }
    .popup-redirect__content {
      padding: 60px 0;
      justify-content: space-between;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: justify;

        &:after {
          content: '';
          display: inline-block;
          width: 100%;
        }
      }
      li {
        display: inline-block;
        background-color: $color_red_background;
        width: 220px;
        padding: 9px 0;
        text-align: center;
      }
      a {
        color: #ffffff;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        display: inline;
        text-decoration: none;
        cursor: pointer;
        &.modification-profile {
          &:before {
            font-family: 'FontAwesome', sans-serif;
            content: '\f007';
            font-size: 16px;
            padding-right: 21px;
          }
        }
        &.spare-parts-management {
          &:before {
            font-family: 'FontAwesome', sans-serif;
            content: '\f085';
            font-size: 16px;
            padding-right: 21px;
          }
        }
        &.how-to-order {
          &:before {
            font-family: 'FontAwesome', sans-serif;
            content: '\f1c1';
            font-size: 16px;
            padding-right: 21px;
          }
        }
      }
    }
    .popup-download {
      .popup-download__title {
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        color: $color_red_fonts;
        text-transform: uppercase;
        background-color: $color_light_gray_seporator;
        padding: 16px 0 14px 7px;
      }
      .popup-download__table {
        width: 100%;
        margin-top: 30px;
        thead {
          margin-bottom: 10px;
          th {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 600;
            font-size: 12px;
            color: #000000;
            text-align: left;
            text-transform: uppercase;
          }
        }
        td {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: normal;
          font-size: 12px;
          color: #000000;
          text-align: left;
          &.download-link {
            text-align: center;
            .popup__download-link {
              font-size: 0;
              text-align: center;
              text-decoration: none;
              &:before {
                font-family: 'FontAwesome', sans-serif;
                content: '\f0ed';
                font-size: 16px;
                color: $color_red_fonts;
              }
            }
          }
        }
      }
    }
  }
}
