.header-bottom {
  position: relative;
  padding: 8px 0 0;
  margin: 0 auto;
  @include full-width();
  box-sizing: border-box;
  position: relative;
  @include clearfix;
  &__content {
    padding: 0 5px;
    position: relative;
  }
  &__links {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__link {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      right: calc(50% - 8px);
      bottom: -10px;
      border: 8px solid transparent;
      border-bottom: 9px solid #333333;
      display: none;
    }
    >a {
      display: block;
      padding: 0 13px;
      text-decoration: none;
      font-size: 18px;
      color: #161616;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      border-left: 2px solid $color_red_background;
    }
    &:first-child {
      a {
        border: none;
      }
    }
    &:last-child {
      a {
        padding-right: 0;
      }
    }
    &.open {
      > a {
        font-weight: 400;
        font-size: 17px;
        letter-spacing: -0.2px;
      }
      &:before {
        display: block;
      }
    }
    &.active {
      border-bottom: 3px solid $color_red_background;
    }
  }
}
.products {
  position: absolute;
  width: 100%;
  padding: 0;
  display: none;
  z-index: 10;
  &.active {
    display: block;
  }
  &__list {
    position: relative;
    display: block;
    @include nl();
    font-size: 0;
    padding: 6px;
    background-color: #333333;

  }
  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    width: 25%;
    padding: 6px;
    padding-bottom: 0;
    box-sizing: border-box;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #333333;
  }
  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 7px;
    &:hover,
    &.active {
      border-color: $color_red_background;

      .products__item-overlay {
        background-color: $color_red_background;
      }
    }
  }
  &__item-title {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
  }
  &__item-overlay {
    position: relative;
    min-height: 50px;
    height: 1px;
    background-color: transparent;
    margin-top: -1px;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0;

    &:before {
      content: '';
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 63%;
    overflow: hidden;
  }
  &__img {
    @include cover-img();
  }
}
.products-inner {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #eaeaea;
  padding: 20px 30px;
  box-sizing: border-box;
  box-shadow: inset 0 15px 15px -15px #333, 
              inset 0 -15px 15px -15px #333;
  &__header {
    @include clearfix();
    margin-bottom: 9px;
  }
  &__title {
    font-family: 'Oswald', sans-serif;
    color: #ce2414;
    font-size: 22px;
    text-transform: uppercase;
    float: left;
    margin: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &__title-link {
    float: right;
    color: #ce2414;
    text-transform: lowercase;
    font-size: 18px;
    &:hover {
      text-decoration: none;
    }
  }
  &__list {
    @include nl();
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin-left: -9px;
    margin-right: -9px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    width: calc(100%/3);
    padding: 9px;
    box-sizing: border-box;
    font-size: initial;
  }
  &__link {
    display: block;
    height: 100%;
    border-bottom: 1px solid #ce2414;
    color: #000000;
    text-decoration: none;
    &:hover {
      .products-inner__item-title {
        color: #ce2414;
      }
    }
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__img {
    @include cover-img();
  }
  &__item-title {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    margin-bottom: 5px;
  }
  &__item-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;  
  }
}

.products {
  position: static;

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 7px;

    &:hover,
    &.active {
      border-bottom-color: #ce2414;

      .products__item-overlay {
        opacity: 0;
      }
    }
  }
  &__item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, .5);
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 0;
    z-index: 1;
  }
  &__item-title {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
  }
}
