.product-detail__social {
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 1px solid $color_light_gray_seporator;
  border-top: 1px solid $color_light_gray_seporator;
  padding: 10px 0;
  margin-bottom: 50px;
  @include clearfix;
}

.social__fb-like-page {
  float: left;
}

.social__fb-like {
  float: right;
  line-height: 71px;
  vertical-align: middle;
  img {
    padding-right: 60px;

  }
}