.products-description {
  margin: 0 auto;
  @include full-width();
  box-sizing: border-box;
  padding: 0 10px;
}

.products-description__main-title {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: $color_red_fonts;
  text-transform: uppercase;
  margin: 20px 0 32px 0;
}

.product-description__item {
  @include clearfix;

  margin-bottom: 35px;

  .product-item__text-wrapper {
    width: 100%;
    margin-bottom: 25px;
  }
  .product-item__link {
    width: 100%;
  }
  .product-item__img-wrap {
    padding-top: 27.6%;
  }
  &.left-img {
    .product-item {
      &__text-wrapper {
        width: 48%;
        float: right;
      }
      &__link {
        float: left;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 10px;
      }
      &__img-wrap {
        padding-top: 65.5%;
      }
    }
  }
  &.right-img {
    .product-item {
      &__text-wrapper {
        width: 48%;
        float: left;
      }
      &__link {
        float: right;
        width: 48%;
        margin-left: 4%;
        margin-bottom: 10px;
      }
      &__img-wrap {
        padding-top: 65.5%;
      }
    }
  }
}

.product-item {
  &__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;

    &:hover {
      .product-item__img-wrap img {
        transform: scale(1.05);
      }
    }
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;

    > img {
      @include cover-img;
      transition: transform .3s;
    }
  }

  &__title {
    margin: 0 0 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  &__description {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.37px;
  }
}
