.product-detail__more-information {
  margin: 0 auto;
}
.more-info__downloads {
  @include full-width();
}
.more-info__main-title {
  @extend .h3;

  font-family:"Oswald", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: $color_red_fonts;
  text-transform: uppercase;
  margin: 10px 0 37px;
}

.more-info__product {
  @include clearfix;
  margin-bottom: 48px;
}

.more-info__photo {
  float: left;
  width: 31%;
  padding-right: 1.5%;
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }
}

.more-info__product-title {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 0 0 30px;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  padding-left: 1.5%;
}

.more-info__product-description {
  float: left;
  width: 62%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-bottom: 30px;
  padding-left: 1.5%;

}

.more-info__product-link {
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $color_red_fonts;
  text-decoration: none;
  padding-right: 30px;
}
.more-info__download-item {
  border-bottom: 1px solid white;
}
.download-item__title {
  background-color: $color_gray_header;
  color: white;
  padding: 17px 0 13px 10px;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  cursor: pointer;
  &:before {
    margin-right: 13px;
    content: '\f196';
    font-family: "FontAwesome", sans-serif;
  }
  &.active {
    &:before {
      content: '\f147';
    }
  }
}

.download-item__registration-form {
  @include clearfix;

  padding: 10px 0 10px 0;
  border-bottom: 1px solid $color_red_background;
  max-width: 1180px;
  margin: 0 auto;

  input {
    margin: 0;
  }
  .btn-login {
    float: right;
  }
}


.product-details__email-label, .product-details__username-label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: black;
  margin-right: 10px;
}

.registration-code-link {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color_red_fonts;
  text-transform: uppercase;
}

.download-item__download-table {
  display: table;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  &.active {
    display: table;
  }
  .thead {
    display: table-header-group;
  }
  .tbody {
    display: table-row-group;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
  .tr {
    display: table-row;
    text-decoration: none;
  }
  .th {
    display: table-cell;
    text-align: left;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px 5px;

    &.level,
    &.download {
      text-align: center;
    }
  }
  .td {
    display: table-cell;
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 7px 5px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;

    &.level,
    &.download {
      text-align: center;

      i {
        color: red;
        cursor: pointer;
      }
    }
  }
}
.download-item__content {
  height: auto;
  overflow: hidden;
  padding: 0 10px;
  transition: .5s;
  max-height: 0;

  .col--form-actions {
    float: right;
  }

  &.active {
    max-height: 2000px;
  }
}
