.right-social-block {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 195px;
  z-index: 1;
}

.right-social-item {
  //display: flex;
  background-color: #ffffff;
  //justify-content: center;
  //align-items: center;
  height: 40px;
  width: 45px;
  border: 1px solid $color_light_gray_seporator;
  border-bottom-color: $color_red_fonts;
  border-top-width: 0px;
  &:hover {
    a {
      color: $color_dark_red_background;
    }
    svg {
      path {
        fill: $color_dark_red_background;
      }
    }
  }
  &:first-child {
    border-top-width: 1px;
  }
  &:last-child {
    border-bottom-color: $color_light_gray_seporator;
  }
  a {
    height: 40px;
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    //height: 19px;
    font-size: 19px;
    text-decoration: none;
    color: $color_red_fonts;

  }
}