.hero-slider {
  position: relative;
  @include full-width();
  &__slide {
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 47.5%;
    overflow: hidden;
    img {
      @include cover-img();
    }
  }
  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 27px 116px 27px 25px;
    text-shadow: 0 0 9px #010101;
    
    &.bg {
      background-color: rgb(27,27,27);
      background-color: rgba(27,27,27,0.7);
      text-shadow: none;
    }
    &.center {
      left:50%;
      transform: translate(-50%, -50%);
    }
    &.right {
      left: auto;
      right: 10%;
    }
  }
}
.slick-arrow {
  position: absolute;
  background: none;
  border:none;
  text-indent: -9999px;
  top: 50%;
  padding: 0;
  height: 80px;
  width: 42px;
  z-index: 1;
  font-size: 0;
  outline: none;
  cursor: pointer;
  margin-top: -40px;

  &:before {
    content: '';
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
  }
  &.slick-prev {
    left: 10px;
    &:before {
      background-image: url("../images/slider_nav_arrow_left.png");
    }
  }
  &.slick-next {
    right: 10px;
    &:before {
      background-image: url("../images/slider_nav_arrow_right.png");
    }  
  }
  &.slick-disabled {
    opacity: .3;
    cursor: auto;
  }
}
.slick-dots {
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  @include nl();
  li {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 15px;
    background-color: $color_gray_bullits;
    border-radius: 50%;
    border: 1px solid $color_search_gray_background;
    button {
      display: block;
      width: 14px;
      height: 14px;
      border:none;
      background: none;
      text-indent: -9999px;
      cursor: pointer;
    }
    &.slick-active {
        background-color: $color_red_background;
        border: 1px solid $color_white_fonts;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.event1-slider__content {
  position: relative;
  margin: 0 auto;
  @include clearfix;
  @include full-width();
  .hero-slider {
    max-width: 74%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    &__img-wrap {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 420px;
      padding-top: 0;
      img {
        @include cover-img();
      }
    }
    &__title {
      font-size: 32px;
    }
  }
  .event1-slider__information {
    width: 26%;
    float: left;
    min-height: 420px;
    border-left: 1px solid #ffffff;
    background-color: $color_red_background;
    padding: 15px 10px 0;
    box-sizing: border-box;
    .slider-info__title {
      font-family: "Oswald", sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 38px;
    }
    .slider-info__table {
      display: table;
      border-spacing: 5px 0;
    }
    .slider-info__table-row {
      display: table-row;
      height: 32px;
    }
    .slider-info__date, .slider-info__location, .slider-info__address, .slider-info__stand {
      display: table-cell;
      font-family: "Oswald", sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
    }
    .slider-info__date-value, .slider-info__location-value, .slider-info__address-value, .slider-info__stand-value {
      display: table-cell;
      font-family: "Oswald", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
  }
}

.event2-slider__content {
  @include clearfix;
  @include full-width();

  position: relative;

  .hero-slider {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-bottom: 20px;

    &__img-wrap {
      position: relative;
      overflow: hidden;
      width: 100%;

      img {
        @include cover-img();
      }
    }
  }
  .hero-slider__title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 20px 40px 20px 25px;
    background-color: rgb(27,27,27);
    background-color: rgba(27,27,27,0.7);
  }
  .event2-slider__information {
    @include  clearfix;

    width: 100%;
    padding: 15px 10px 0;
    box-sizing: border-box;
    .slider-info__title {
      font-family: "Oswald", sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 38px;
    }
    .slider-info__address-wrapper {
      float: left;
      @include clearfix;
    }
    .slider-info__address, .slider-info__address-value {
      font-family: "Oswald", sans-serif;
      float: left;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
    }
    .slider-info__address-value {
      font-weight: 700;
      padding-left: 5px;
    }
    .slider-info__stand-wrapper {
      float: right;
      @include clearfix;
    }
    .slider-info__stand, .slider-info__stand-value {
      font-family: "Oswald", sans-serif;
      float: left;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
    }
    .slider-info__stand-value {
      font-weight: 700;
      padding-left: 5px;
      br {
        display: none;
      }
    }
  }
}
.slider-for {
  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 41.67%;

    .slider__content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.img {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
        min-width: 0;
        min-height: 0;

        &.fullHeight {
          height: 100%;
        }
        &.fullWidth {
          width: 100%;
        }
      }
      .video {
        width: 100%;
        height: 100%;
      }
    }
  }
}
