.webtv-list {
  @include full-width();

  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 15px;
}
.webtv-channel__title {
  background-color: $color_gray_header;
  color: white;
  padding: 17px 0 13px 10px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  cursor: pointer;

  &:before {
    margin-right: 13px;
    content: '\f196';
    font-family: "FontAwesome", sans-serif;
  }
  margin-bottom: 4px;
  &.active {
    &:before {
      content: '\f147';
    }
    & + .webtv-channel__content {
      max-height: 1000px;
      padding: 30px 10px 20px;
    }
  }
}

.webtv-channel__content {
  display: block;
  box-sizing: border-box;
  max-height: 0;
  padding-left: 10px;
  padding-right: 10px;
  transition: .3s;
  overflow: hidden;

}

.channel-item__carousel {
  position: relative;
  margin-bottom: 30px;
}

.webtv-carousel__name {
  @extend .h3;
  text-transform: none;
  margin-bottom: 10px;
  &:before {
    border-color: $color_red_fonts;
  }
  > span {
    font-size: 16px;
    padding-right: 11px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #000000;
  }
  .number-video {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    color: $color_red_fonts;
  }
  
}

.webtv-carousel{
  &__items {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    
    .slick-arrow {
      width: auto;
      height: auto;
      text-indent: 0;
      text-outline: 50%;
      margin: 0;
      &:before {
        display: none;
      }
    }
    .slick-prev {
      left: -4px;
      &:after {
        content: '\f104';
        font-family: "FontAwesome", sans-serif;
        color: #000000;
        font-size: 26px;
        font-weight: 900;
        left: -4px;
      }
    }
    .slick-next {
      right: 4px;
      &:after {
        content: '\f105';
        font-family: "FontAwesome", sans-serif;
        color: #000000;
        font-size: 26px;
        font-weight: 900;
        left: 10px;
      }
    }
  }
  &__item {
    position: relative;
    padding: 0 7px;
    &:focus {
      outline: none;
    }
  }

  &__link {
    padding: 5px;
    display: block;
    text-decoration: none;
    background-color: $color_light_gray_seporator;
    border-bottom: 1px solid $color_red_background;

    &:hover {
      .webtv-item__youtube-icon {
        opacity: 1;  
      }
    }
  }
  
}

.webtv-item__image {
  position: relative;
  background-color: $color_light_gray_seporator;
  img {
    width: 100%;
  }
}

.webtv-item__youtube-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: .8;
  transition: all .5 ease;
  margin-top: -24.5px;
  margin-left: -17.5px;
}

.webtv-item__footer {
  color: #000000;
  padding: 0 5px 5px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  
  min-height: 42px;
  //display: flex;
}
