.workshop__contacts-list {
  margin: 0 auto;
  box-sizing: border-box;
}

.workshop__geolocation {
  margin-bottom: 10px;
  margin-top: 24px;
  position: relative;
}

.geolocation-title {
  @extend .h3;
  > span {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: $color_red_fonts;
  }
}

.workshop__office-items {
  @include clearfix;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}


.workshop__office-item {
  display: inline-block;
  vertical-align: top;
  min-height: 152px;
  width: 33%;
  width: calc(100%/3);
  padding: 0 10px;
  font-size: initial;
  margin-bottom: 40px;
}

.workshop__office-content {
  height: 100%;  
  padding-bottom: 25px;
  border-bottom: 1px solid $color_light_gray_seporator;
}
.workshop-office__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $color_red_fonts;
  text-transform: uppercase;
}

.workshop-office__address {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  &:after {
    content: "-";
    display: block;
  }
}

.workshop-office__telephone {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:before {
    content: "Telefono:";
  }
}

.workshop-office__fax {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:before {
    content: "Fax:";
  }
  &:after {
    content: "-";
    display: block;
  }
}

.workshop-office__site {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $color_red_fonts;
  text-transform: lowercase;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.workshop-office__email {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $color_red_fonts;
  text-transform: lowercase;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
