.about-us-section
    .about-us
        .wide-img
            .wide-img__img-wrap
                img(src="commons/images/about_us_photo_1.png" class="wide-img__img")
            .wide-img__text gioco di squadra </br> teamplay
        .about-us-grid
            .container.container--small
                .about-us-grid__title lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .about-us-grid__list
                    - for (var i=0; i<3; i++)
                        .about-us-grid__column
                            .about-us-grid__column-title Titolo del capoverso
                            .about-us-grid__column-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .about-us__footer
            .about-us__footer-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    .about-us
        .wide-img
            .wide-img__img-wrap
                img(src="commons/images/about_us_photo_2.png" class="wide-img__img")
            .wide-img__text.bg sempre un passo avanti </br> always a step ahead
        .about-us-grid.about-us-grid--with-icon
            .container.container--medium
                .about-us-grid__list
                    - for (var i=4; i<7; i++)
                        .about-us-grid__column
                            .about-us-grid__icon-wrap
                                img(src="commons/images/map_number_"+i+".png").about-us-grid__icon
                            .about-us-grid__column-title eiusmod tempor incididunt
                            .about-us-grid__column-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .about-us
        .wide-img
            .wide-img__img-wrap
                img(src="commons/images/about_us_photo_3.png" class="wide-img__img")
            .wide-img__text.bg.right tecnologia a portata di mano <br> technology at your fingertips
        .img-plus-list
            .img-plus-list__leftside
                .img-plus-list__img-wrap
                    img(src="commons/images/elipse-detail.jpg" class="img-plus-list__img")
            .img-plus-list__rightside
                .img-plus-list__list
                    each item1, item2 in {"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.":"cogs", "Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.":"flask", "Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.":"line-chart"}
                        .img-plus-list__item
                            i(class="fa fa-" + item1 aria-hidden="true")
                            .img-plus-list__item-text=item2
    .about-us
        .wide-img
            .wide-img__img-wrap
                img(src="commons/images/about_us_photo_4.png" class="wide-img__img")
            .wide-img__text.bg.center innovazione & design </br> innovation & design
        .about-us-grid
            .container.container--medium
                .about-us-grid__title lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .about-us-grid__description 
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.
                .about-us-grid__list
                    - for (var i=0; i<3; i++)
                        .about-us-grid__column
                            .about-us-grid__column-title Titolo del capoverso
                            .about-us-grid__column-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostru dexercitation.
            .about-us-grid.about-us-grid--gray
                .about-us-grid__list
                    .about-us-grid__column
                        .about-us-grid__column-title Macchine per lavorazione della pietra
                        .about-us-grid__column-description Nel settore degli impianti per la pietra composita, Breton si distingue in tutto il mondo per il suo know-how tecnologico e per la sua posizione di leadership.
                    .about-us-grid__column
                        .about-us-grid__column-title Impianti per la pietra composita
                        .about-us-grid__column-description Nel settore degli impianti per la pietra composita, Breton si distingue in tutto il mondo per il suo know-how tecnologico e per la sua posizione di leadership.
                    .about-us-grid__column
                        .about-us-grid__column-title Titolo del capoverso
                        .about-us-grid__column-description Nel settore degli impianti per la pietra composita, Breton si distingue in tutto il mondo per il suo know-how tecnologico e per la sua posizione di leadership.
