.company-vision
    .company-vision__header
        h2.company-vision__main-title Breton un'azienda con una grande visione
        .company-vision__description Breton spa opera su un'area di 81.000 mq dei quali 40.000 mq coperti, ed occupa circa 620 persone.<br>Breton è certificata ISO 9001 ed ISO 14001.<br><br>Breton S.p.A. è cresciuta e si è imposta sul mercato grazie alla sua filosofia sempre rivolta alla ricerca, al miglioramento continuo, all'innovazione e alla qualità dei suoi prodotti e servizi.<br>Una filosofia fortemente voluta dalla proprietà e fatta propria da tutte le persone che vi lavorano all'interno, che con la loro creatività e dedizione hanno contribuito e contribuiscono ogni giorno al successo dell'azienda.
    .company-vision__body
        .company-vision__bullet
            h3.company-bullet__title <span>Controllo Qualità</span>
            .company-bullet__image(class="company-bullet__image_left")
                img(src="commons/images/company-image-1.png" alt="")
            .company-bullet__content
                .company-bullet__text Breton si è strutturata ed ha sempre lavorato secondo le regole della qualità sia nell'organizzazione interna che nel processo produttivo per poter offrire un'elevata qualità di prodotto e servizio al cliente.<br><br>Siamo stati la prima azienda del settore, nell'anno 1992, ad ottenere la certificazione del sistema di qualità a norme UNI EN ISO 9001, nel 2003 abbiamo ottenuto la certificazione a norme UNI EN ISO 9001/2000 e nel 2008 la certificazione ISO 14001/2004.<br><br><br>
                .company-bullet__text(class="company-bullet__text_title") Politica per la Sicurezza e l'Ambiente<br><br>
                .company-bullet__text La Breton SpA considera la Sicurezza e la Salute nell’ambiente di Lavoro un traguardo irrinunciabile, un obbligo morale e sociale. Ridurre continuamente i rischi e migliorare costantemente la salubrità dei luoghi di lavoro è fondamentale per gestire con successo ogni attività lavorativa.<br><br>Con la Politica si vuole affermare che nella gestione della Sicurezza e della Salute nell’ambiente di Lavoro la responsabilità riguarda tutte le componenti dell'organizzazione, dalla Direzione sino ad ogni lavoratore.<br><br>
                a.company-bullet__link(href="#") POLITICA SICUR-SALUTE LAVORO 2008.pdf<br>
                a.company-bullet__link(href="#") POLITICA PER L'AMBIENTE 09 2011.pdf
        .company-vision__bullet
            h3.company-bullet__title <span>Valore Cliente</span>
            .company-bullet__image(class="company-bullet__image_right")
                img(src="commons/images/company-image-2.png" alt="")
            .company-bullet__content
                .company-bullet__text Da sempre in azienda prestiamo una particolare attenzione al cliente, offrendo servizi moderni, articolati ed efficaci, a necessario corredo della fornitura di macchine di qualità e con performance elevate. <br><br>Fin dal primo contatto e poi nello sviluppo della relazione commerciale, Breton è sempre a fianco dei Clienti, tesa a soddisfare ogni loro esigenza nelle varie fasi del rapporto, dalla selezione e studio del prodotto, al supporto in fase di realizzazione del progetto e montaggio delle macchine, al training degli operatori, al trasferimento del know-how, fino al supporto tecnico post-vendita.<br>
                a.company-bullet__link POLITICA SICUR-SALUTE LAVORO 2008.pdf<br>
                a.company-bullet__link POLITICA PER L'AMBIENTE 09 2011.pdf
        .company-vision__bullet
            h3.company-bullet__title <span>La proprietà</span>
            .company-bullet__image(class="company-bullet__image_full")
                img(src="commons/images/company-image-3.png" alt="")
            .company-bullet__content
                .company-bullet__text Negli anni '90 Breton è entrata di prepotenza nel settore dei centri di lavoro a controllo numerico ad alta velocità,diventando in pochi anni uno degli importanti attori mondiali.<br>Breton S.p.A. è controllata da Luca e Dario Toncelli, alla guida dell'azienda, affiancati nel consiglio di amministrazione da Roberto Chiavacci, Vice Presidente e socio storico del fondatore.
        .company-vision__bullet
            h3.company-bullet__title <span>Assistenza</span>
            .company-bullet__image(class="company-bullet__image_left")
                img(src="commons/images/company-image-4.png" alt="")
            .company-bullet__content
                p.company-bullet__text Essere cliente Breton significa aver scelto la qualità, l'efficienza e l'eccellenza non solo delle macchine ed impianti ma anche dei servizi a corredo.<br><br>Ai nostri clienti forniamo una competente consulenza nella fase di pre-vendita, un efficiente servizio di installazione e messa in funzione delle macchine, ed un approfondito training agli operatori per ottimizzare la conduzione delle macchine installate.<br><br>Completa il tutto un servizio post-vendita che ci è sempre stato riconosciuto eccellente e che comprende una squadra di circa 50 tecnici addetti al montaggio e all'assistenza preso i clienti e uno staff di tecnici in sede per la soluzione "on line" dei problemi.<br><br>Il nostro magazzino ricambi è sempre ben rifornito per soddisfare tempestivamente le richieste provenienti da ogni parte del mondo. Una rete di officine esterne autorizzate, localizzate in varie parti del mondo, ci consente di rispondere alle richieste di assistenza tecnica e fornitura ricambi in modo ancora più pronto e capillare.
    ul.company-vision__contacts
        li.company-contacts__item
            .company-contacts__company-name Area Pietra Naturale
            a(href="mailto:naturalstone.service@breton.it").company-contacts__company-email naturalstone.service@breton.it
        li.company-contacts__item
            .company-contacts__company-name Area a CN Pietra
            a(href="mailto:fabshop.service@breton.it").company-contacts__company-email fabshop.service@breton.it
        li.company-contacts__item
            .company-contacts__company-name Area Pietra Composita
            a(href="mailto:compoundstone.service@breton.it").company-contacts__company-email compoundstone.service@breton.it
        li.company-contacts__item
            .company-contacts__company-name Area Ceramica
            a(href="mailto:ceramic.service@breton.it").company-contacts__company-email ceramic.service@breton.it
