.contact-us-adresses
    .contact-us-adresses__title
      span
        | indirizzi
    .contact-us-adresses__location
        .contact-us-adresses__block-title breton s.p.a
        .contact-us-adresses__block-content Via Garibaldi, 27 - 31030 Castello di Godego (TV) - Italy 
        .contact-us-adresses__phone
          | Telefono:
          a(href="call:+39 0423 769")
            | +39 0423 7691
          | - Fax:
          a(href="fax:+39 0423 769600")
            | +39 0423 769600
    .contact-us-adresses__general
        .contact-us-adresses__block-title informazzioni generali
        a(href="malto:info@breton.it").contact-us-adresses__block-content info@breton.it
    .contact-us-adresses__service
        .contact-us-adresses__block-title assistenza
        a(href="malto:service@breton.it").contact-us-adresses__block-content service@breton.it
    .contact-us-adresses__details
        .contact-us-adresses__block-title ricambi
        a(href="malto:parts@breton.it").contact-us-adresses__block-content parts@breton.it
