.divisions_wrapper
    each item1, item2 in {"Macchine e impiaNti per la meccanica":"_1", "Macchine e impianti per la pietra":"_2", "Macchine e impianti per la fabbricazione della pietra composita":"_3", "Divisione elettrochimica":"_4", "Macchine e impianti per la ceramica":"_5"}
      a(href="#").division
        .division__image-wrap
          img.division__image(src="commons/images/divisions/division_photo"+item1+".jpg")
        .division__description
          div(class="division__link")=item2
