include breadcrumbs/breadcrumbs
.divison-news
    .division-news__header
        +breadcrumbs(pages.division)
        h2.division-news__title
          span
            | news
          a.division-news__link(href="#") vedi tutte
    .division-news__content
        //use 4 column grid. Add number for 1 to 4 for choose width. 1 - 25%, 4 - 100%. Сalculations are without paddings.
        .division-news__sizer
        .division-news__item(class="division-news__item_2")
            img(src="commons/images/division_news/news_1.png" alt="")
            .division-news__news-content
                h4.division-news__news-title State cercando macchine usate per marmo e granito?
                .division-news__news-date 2015-03-10
                .division-news__news-description Date un'occhiata alle macchine usate Breton per lavorare marmo e/o granito.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_2.png" alt="")
            .division-news__news-content
                h4.division-news__news-title Ceratrice automatica LUXBRETON
                .division-news__news-date 2015-01-12
                .division-news__news-description Le vostre lastre di marmo e granito saranno le più brillanti con la ceratrice automatica LUXBRETON!﻿
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_3.png" alt="")
            .division-news__news-content
                h4.division-news__news-title “MARO” di Christopher Le Brun esposta a Chatsworth House
                .division-news__news-date 2014-12-02
                .division-news__news-description Sono state impiegate 5 settimane dal centro di lavoro <a class=text-link href="#">SHAPEMILL</a> a controllo numerico che lavora il marmo con utensili diamantati, per realizzare i cinque pezzi che compongono la scultura.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_4.png" alt="")
            .division-news__news-content
                h4.division-news__news-title Una fresa a ponte speciale per lavori speciali
                .division-news__news-date 2015-03-10
                .division-news__news-description <strong>Breton</strong> <a class="text-link" href="#">Smart-cut 1000</a>, fresa a ponte CNC, a 5 assi interpolati con in dotazione il tornio diventa un vero e proprio centro di lavoro multifunzione per la pietra.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_5.png" alt="")
            .division-news__news-content
                h4.division-news__news-title Stai cercando una fresa a ponte che non abbia bisogno di fondazioni?
                .division-news__news-date 2015-01-19
                .division-news__news-description Ecco la  la fresa monoblocco di Breton.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_6.png" alt="")
            .division-news__news-content
                h4.division-news__news-title Breton PARAGON al lavoro
                .division-news__news-date 2014-12-04
                .division-news__news-description La <strong>nuova multifilo</strong> Breton <a class="text-link" href="#">PARAGON</a> ha iniziato a tagliare.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_7.png" alt="")
            .division-news__news-content
                h4.division-news__news-title Linee di lucidatura completate!
                .division-news__news-date 2014-11-14
                .division-news__news-description Breton completa le linee di lucidatura delle lastre con la <strong>Shinemaster</strong>, la Ceratrice CG 200/4, l'Imageplus e l'APP.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_3")
            .division-news__news-image
                img(src="commons/images/division_news/news_8.png" alt="")
            .division-news__news-content
                h4.division-news__news-title AI Award 2013, il premio miglior progetto alla case history Asem-Breton.
                .division-news__news-date 2013-12-05
                .division-news__news-description Consegnati al Mercedes Benz Center di Milano gli AI Award 2013: premio miglior progetto al caso applicativo Asem-Breton.
                a.division-news__news-link(href="#") Leggi di più >
        .division-news__item(class="division-news__item_1")
            .division-news__news-image
                img(src="commons/images/division_news/news_9.png" alt="")
            .division-news__news-content
                h4.division-news__news-title La fresa a ponte Breton Smart-Cut 550 OPTIMA realizza piani cucina!!!
                .division-news__news-date 2014-11-14
                .division-news__news-description Smart-Cut 550 OPTIMA, la fresa a ponte evoluta di Breton riesce a lavorare piani cucina (e altro) come una contornatrice.
                a.division-news__news-link(href="#") Leggi di più >
.division-news__footer
    button.division-news__button(class="btn btn-ajax-view-more") carica altre news
