-
  var next = [
    {
      img: "commons/images/fair_1.png",
      title: "AMB",
      desc: "AMB è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi \n\r mostrano nei propri stand…",
      day: "13-17",
      month: "09",
      year: "2016"
    },
    {
      img: "commons/images/fair_2.png",
      title: "BI-MU 2016",
      desc: "BI-MI è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi <br>mostrano nei propri stand…",
      day: "04",
      month: "10",
      year: "2016"
    },
    {
      img: "commons/images/fair_3.png",
      title: "MARMOMACC",
      desc: "MARMOMACC è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi \n\r mostrano nei propri stand…",
      day: "28",
      month: "21",
      year: "2016"
    }
  ]
-
  var prev = [
    {
      img: "commons/images/fair_4.png",
      title: "QSS2016",
      desc: "QSS2016 è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi \n\r mostrano nei propri stand…",
      day: "13-17",
      month: "09",
      year: "2016"
    },
    {
      img: "commons/images/fair_5.png",
      title: "JEC world",
      desc: "JEC world è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi \n\r mostrano nei propri stand…",
      day: "13-17",
      month: "09",
      year: "2016"
    },
    {
      img: "commons/images/fair_6.png",
      title: "MECspe",
      desc: "MECspe è la fiera internazionale dedicata alla lavorazione dei \n\r metalli. Ogni due anni, circa 1350 espositori da più di 30 paesi \n\r mostrano nei propri stand…",
      day: "13-17",
      month: "09",
      year: "2016"
    }
  ]
mixin fair-item(data)
  .fairs-category__item
    .fairs-category__content
      .fairs-item__date
        | #{data.day} 
        span
          | / 
        | #{data.month} 
        span
          | / 
        | #{data.year}
      .fairs-item__image
        img(src=data.img alt="")
      .fairs-item__footer
        .item-footer__title= data.title
        .item-footer__description= data.desc
        .item-footer__link
          a(href="#") Leggi di più >
.fairs-list
  .fairs-category
    .fairs-category__title
      span
        | Prossime fiere
    .fairs-category__items
      each item in next
        +fair-item(item)
  .fairs-category
    .fairs-category__title
      span
        | Fiere precedenti
    .fairs-category__items
      each item in prev
        +fair-item(item)
  button.fairs-list__button(class="btn btn-ajax-view-more") carica altre fiere
