include videos

.fairs-cards
    .fairs-card(class="fairs-card_text")
        .fairs-card__title
          span
            | La fiera
        .fairs-card__description <strong>Marmomacc</strong> è la manifestazione leader mondiale per l’industria del settore litico e ne rappresenta l’intera filiera, dai prodotti grezzi ai semilavorati e finiti, dai macchinari e le tecnologie per la lavorazione alle possibili applicazioni della pietra nell’architettura e nel design.<strong> Breton vi parteciperà per il 51° anno consecutivo,</strong> dalla sua nascita.<br><br>Appuntamento internazionale fondamentale per tutti i comparti del settore, piattaforma autorevole dove il business incontra l’aggiornamento professionale, Marmomacc è il luogo ideale in cui la qualità e la completezza dell’offerta espositiva si coniugano con il più evoluto know-how nella lavorazione della pietra naturale.
    .fairs-card(class="fairs-card_multimedia")
        .fairs-card__title
          span
            | Cosa esponiamo
        .fairs-card__media
          .fairs-card__media-wrap
            +youtube-video
        .fairs-card__description <strong>FUEGO Multiaxis:</strong> nuova macchina Breton per il taglio di blocchi e billette con un filo diamantato, ideale per la produzione di colonne cilindriche o rastremate, rivestimenti per colonne, componenti semilavorati e sagomati per la decorazione d’interni, attraverso l’interpolazione fino a 10 assi.
    .fairs-card(class="fairs-card_multimedia")
        .fairs-card__title
          span
            | Cosa esponiamo
        .fairs-card__media.right
          .fairs-card__media-wrap
            +youtube-video
        .fairs-card__description <strong>FUEGO Multiaxis:</strong> nuova macchina Breton per il taglio di blocchi e billette con un filo diamantato, ideale per la produzione di colonne cilindriche o rastremate, rivestimenti per colonne, componenti semilavorati e sagomati per la decorazione d’interni, attraverso l’interpolazione fino a 10 assi.
