.footer
    footer.footer__content
        .footer__left
            .footer__logo
                img(class="footer-logo__image" src="commons/images/footer_logo.png")
                span.footer-logo__description Driven by Innovation
            .footer__navigation
                ul.footer-navigation__items
                    each item1 in ["Lavora con noi", "Note legali", "Cookie", "Credits:  Active121"]
                        li.footer-navigation__item
                            a(href="#")=item1
        .footer__right
            .footer__anchor
                a(href="#header") Back to Top