.header__container
    header.header.toggle-group(id="header")
        .header-top
            .header-top__content
                .login__content.toggle-block
                    a.login__button.toggle-btn(href="#") ricambi
                    a(class="used__button" href="#") usato
                    form.login__form.toggle-block__content(method="get")
                        label.input-label
                          input(type="text" autocomplete="true" required="true" class="user-login")
                          span.plaseholder-title
                            | User
                        label.input-label
                          input(type="password" autocomplete="true" required="true" class="user-password")
                          span.plaseholder-title
                            | Password
                        .checkbox-box
                            input(type="checkbox" value="Agent Access" id="access-checkbox")
                            label(title="Agent Access" for="access-checkbox" class="access-checkbox__label unchecked") Agent Access
                        button(type="submit" class="login-button") login
                            i(class="fa fa-sign-in")
                        a.login__user-contract.toggle-btn(href="#") Come ordinare ricambi
                form(method="get" class="searchform")
                    button(type="submit" class="icon-search icon-search_log-out")
                        i(class="fa fa-search")
                    input(type="text" placeholder="CERCA" class="header__search header__search_log-out" name="header__search")
                form(method="get" class="choose-language")
                    select(class="language" name="language-select" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                        option(selected="true") italiano
                        option english
                        option русский
                        option français
                        option deutsch
                        option español
                        option portuguese
                a(class="work-with-us__button" href="#") lavora con noi
                a(class="archive-newsletter__button" href="#") archvio newsletter
                .newsletter-container.toggle-block
                    a.newsletter-button.toggle-btn(href='#') newsletter
                    form.newsletter-subscription__form.toggle-block__content(method="get")
                        label.input-label
                            input(type="email" name="newsletter email" class="newsletter-input__email")
                            span(class="plaseholder-title") Email
                        input(type="checkbox" class="newsletter-input__subscription-access" id="newsletter-subscription__user-access")
                        label(for="newsletter-subscription__user-access" class="newsletter-input__subscription-access-label") Accnsento al trattamento dei miei dati
                        button(type="submit" class="newsletter-input__submit") ISCRIVETEMI
                            i(class="fa fa-angle-right")
                a(class='header__home-link' href='01_Home.html')
        .header-middle
            .header-middle__content
                .header-middle__logo
                    img(class="header__logo-title header__logo-title--static" src="commons/images/header_logo_full.png")
                    img(class="header__logo-title header__logo-title--fixed" src="commons/images/logo_fix.png")
                .header-middle__hamburger(id="header-menu-hamburger")
                    i(class="fa fa-bars" aria-hidden="true")
                ul.header-middle__links(id="header-mobile-menu")
                    li.header-middle__link
                        a(href="#") news
                    li.header-middle__link
                        a(href="03_Product_list.html") azieanda
                    li.header-middle__link
                        a(href="#") officine autorizzate
                    li.header-middle__link
                        a(href="#") contatti
                    form(method="get" class="choose-language-mobile")
                        select(class="language header-middle__link header-middle-language" name="language-select" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                            option(selected="true") italiano
                            option english
                            option русский
                            option français
                            option deutsch
                            option español
                            option portuguese
        .container
            include product-list
