.header__container
    header.header(id="header")
        .header-top
            .header-top__content
                a(class="login__button open-popup open-popup--inline" href="#reservedArea") area riservata
                a(class="used__button" href="#") usato
                form(method="get" class="searchform")
                    input(type="text" placeholder="CERCA" class="header__search header__search_log-in" name="header__search")
                    button(type="submit" class="icon-search icon-search_log-in")
                        i(class="fa fa-search")
                form(method="get" class="choose-language")
                    select(class="language" name="language-select" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                        option(selected="true") italiano
                        option english
                        option русский
                        option français
                        option deutsch
                        option español
                        option portuguese
                a(class="newsletter-button newsletter-button_home" href='#') newsletter
                .social-link
                    ul
                        each item1, item2 in {"social-link_fb":"facebook-square", "social-link_tw":"twitter-square", "social-link_li":"youtube-play", "social-link_gp":"google-plus-square"}
                            li(class="item2")
                                a(href="#")
                                    i(class="fa fa-"+item1 aria-hidden="true")

                a(class="work-with-us__button work-with-us__button_home" href="#") lavora con noi
        .header-middle
            .header-middle__content
                .header-middle__logo
                    img(class="header__logo-title header__logo-title--static" src="commons/images/header_logo_full.png")
                    img(class="header__logo-title header__logo-title--fixed" src="commons/images/logo_fix.png")
                .header-middle__hamburger(id="header-menu-hamburger")
                    i(class="fa fa-bars" aria-hidden="true")
                ul.header-middle__links(id="header-mobile-menu")
                    li.header-middle__link
                        a(href="#").active home
                    li.header-middle__link
                        a(href="#") prodotti
                    li.header-middle__link
                        a(href="#") contatti
                    form(method="get" class="choose-language-mobile")
                        select(class="language header-middle__link header-middle-language" name="language-select" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                            option(selected="true") italiano
                            option english
                            option русский
                            option français
                            option deutsch
                            option español
                            option portuguese
