.fix-header
    .fix-header__content
        .fix-menu
            img(class="fix-menu__logo" src="commons/images/logo_fix.png")
        .fix-navigation
            ul(class="fix-navigation__items")
                li.fix-navigation__item
                    a(href="01_Home.html") home
                li.fix-navigation__item
                    a(href="#") prodoti
                li.fix-navigation__item
                    a(href="#") news
                li.fix-navigation__item
                    a(href="03_Product_list.html") azienda
                li.fix-navigation__item
                    a(href="#") contatti