.map
  .map__legend
    - 
      var numbers = [
        {
          img: 'commons/images/map_number_1.png',
          prefix: '<',
          end: 3600,
          text: "units installed"
        },{
          img: "commons/images/map_number_2.png",
          end: 182,
          text: "countries"
        },{
          img: "commons/images/map_number_3.png",
          end: 5,
          text: "ranges of products"
        },{
          img: "commons/images/map_number_4.png",
          end: 27,
          text: "authorized workshops"
        },{
          img: "commons/images/map_number_5.png",
          prefix: '>',
          end: 700,
          text: "employees in Breton Italy and participated companies"
        },{
          img: "commons/images/map_number_6.png",
          end: 51000,
          text: "sqm of covered production areas"
        }
      ];
    each num in numbers
      .map__section
        img.map_number__image(src=num.img)
        .map__description
          .map_number__number(data-prefix=num.prefix|| '' data-end=num.end)
            | 0
          .map_number__text
            | #{num.text}
  .map__image
    img(src="commons/images/map.png")
