.newsletter
  ul.newsletter__list
    -for (var n = 0; n<9; n++)
      li.newsletter__item
        .newsletter__date
          span.newsletter__day 13-17
          span.newsletter__month 09
          span.newsletter__year 2016
        a(href="#").newsletter__link
          .newsletter__img-wrap
            img.newsletter__img(src="commons/images/newsletter-preview-image.png" alt="")
          .newsletter__text
            | notize breton
button.fairs-list__button(class="btn btn-ajax-view-more") carica altre newsletter
