.popup.popup-reserved-area.mfp-hide#reservedArea
    //- .popup__background
    .popup__redirect
        .popup-redirect__header
            .popup-redirect__logo
                img(src="commons/images/popup_logo.png")
            .popup-redirect__description area riservata
        .popup-redirect__content
            ul
                li
                    a(class="modification-profile open-popup open-popup--inline" href="#createAccount") modifica profilo
                li
                    a(class="spare-parts-management" href="#" ) gestione ricambi
                li
                    a(class="how-to-order" href="#" ) come ordinare ricambi
        .popup-download
            .popup-download__title download
            .download-item__download-table
                .thead
                    .tr
                        .th NOME FILE
                        .th DESCRIZIONE
                        .th DIMENSIONE
                        .th DOWNLOAD
                - for (var i=0; i<25 ; i++)
                    a(href="#").tr
                        .td Breton_LAS TECNOLOGÍAS Y LAS INSTALACIONES_Spanish.PDF
                        .td LAS TECNOLOGÍAS Y LAS INSTALACIONES
                        .td 3039 KB
                        .td
                            i(class="fa fa-cloud-download" aria-hidden="true")
