.popup.popup--back.popup_create-account.mfp-hide#createAccount
    a.popup__back.open-popup.open-popup--inline(href="#reservedArea") < Back
    .popup__form
        .form__title crea un account level 2
        form(class="popup-form popup-form_create-account" method="get" name="create account" id="popup-form_create-account")
          .row
            .col.col-6
              label.input-label
                input(name="name" type="text" required="yes" class="name half")
                span(class="plaseholder-title") Nome
                  span(class="symbol")  *
            .col.col-6
              label.input-label
                input(name="last name" type="text" required="yes" class="last-name half nomargin")
                span(class="plaseholder-title")
                  span(class="symbol")  *
          .row
            .col.col-12
              label.input-label
                input(name="email" type="text" required="yes" class="email")
                span(class="plaseholder-title") Email
                  span(class="symbol")  *
          .row
            .col.col-12
              label.input-label
                input(name="organization" type="text" class="organization")
                span(class="plaseholder-title") Azienda / Organizzazione
          .row
            .col.col-6
              label.input-label
                input(name="organization name" type="text" class="organization__name half")
                span(class="plaseholder-title") Titilo
            .col.col-6
              label.input-label
                input(name="organization role" type="text" class="organization__role half nomargin")
                span(class="plaseholder-title") Ruolo
          .row
            .col.col-12
              label.input-label
                input(name="organization address" type="text" class="organization__address")
                span(class="plaseholder-title") Indirizzo
          .row
            .col.col-6
              label.input-label
                input(name="organization city" type="text" class="organization__city half")
                span(class="plaseholder-title") Città
            .col.col-6
              label.input-label
                span(class="plaseholder-title") Codice postale
                input(name="organization zip-code" type="text" class="organization__zip-code half nomargin")
          .row
            .col.col-6
              label.input-label
                input(name="organization state" type="text" class="organization__state half")
                span(class="plaseholder-title") Provincia / Stato
            .col.col-6  
              select(name="organization country" class="organization__country" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}')
                option(selected="true") Scegli la nazione
                option(value="AX") AALAND ISLANDS
                option(value="AF") AFGHANISTAN
                option(value="AL") ALBANIA
                option(value="DZ") ALGERIA
                option(value="AS") AMERICAN SAMOA
                option(value="AD") ANDORRA
                option(value="AO") ANGOLA
                option(value="AI") ANGUILLA
                option(value="AQ") ANTARCTICA
                option(value="AG") ANTIGUA AND BARBUDA
                option(value="AR") ARGENTINA
                option(value="AM") ARMENIA
                option(value="AW") ARUBA
                option(value="AU") AUSTRALIA
                option(value="AT") AUSTRIA
                option(value="AZ") AZERBAIJAN
                option(value="BS") BAHAMAS
                option(value="BH") BAHRAIN
                option(value="BD") BANGLADESH
                option(value="BB") BARBADOS
                option(value="BY") BELARUS
                option(value="BE") BELGIUM
                option(value="BZ") BELIZE
                option(value="BJ") BENIN
                option(value="BM") BERMUDA
                option(value="BT") BHUTAN
                option(value="BO") BOLIVIA
                option(value="BA") BOSNIA AND HERZEGOWINA
                option(value="BW") BOTSWANA
                option(value="BV") BOUVET ISLAND
                option(value="BR") BRAZIL
                option(value="IO") BRITISH INDIAN OCEAN TERRITORY
                option(value="BN") BRUNEI DARUSSALAM
                option(value="BG") BULGARIA
                option(value="BF") BURKINA FASO
                option(value="BI") BURUNDI
                option(value="KH") CAMBODIA
                option(value="CM") CAMEROON
                option(value="CA") CANADA
                option(value="CV") CAPE VERDE
                option(value="KY") CAYMAN ISLANDS
                option(value="CF") CENTRAL AFRICAN REPUBLIC
                option(value="TD") CHAD
                option(value="CL") CHILE
                option(value="CN") CHINA
                option(value="CX") CHRISTMAS ISLAND
                option(value="CO") COLOMBIA
                option(value="KM") COMOROS
                option(value="CK") COOK ISLANDS
                option(value="CR") COSTA RICA
                option(value="CI") COTE D'IVOIRE
                option(value="CU") CUBA
                option(value="CY") CYPRUS
                option(value="CZ") CZECH REPUBLIC
                option(value="DK") DENMARK
                option(value="DJ") DJIBOUTI
                option(value="DM") DOMINICA
                option(value="DO") DOMINICAN REPUBLIC
                option(value="EC") ECUADOR
                option(value="EG") EGYPT
                option(value="SV") EL SALVADOR
                option(value="GQ") EQUATORIAL GUINEA
                option(value="ER") ERITREA
                option(value="EE") ESTONIA
                option(value="ET") ETHIOPIA
                option(value="FO") FAROE ISLANDS
                option(value="FJ") FIJI
                option(value="FI") FINLAND
                option(value="FR") FRANCE
                option(value="GF") FRENCH GUIANA
                option(value="PF") FRENCH POLYNESIA
                option(value="TF") FRENCH SOUTHERN TERRITORIES
                option(value="GA") GABON
                option(value="GM") GAMBIA
                option(value="GE") GEORGIA
                option(value="DE") GERMANY
                option(value="GH") GHANA
                option(value="GI") GIBRALTAR
                option(value="GR") GREECE
                option(value="GL") GREENLAND
                option(value="GD") GRENADA
                option(value="GP") GUADELOUPE
                option(value="GU") GUAM
                option(value="GT") GUATEMALA
                option(value="GN") GUINEA
                option(value="GW") GUINEA-BISSAU
                option(value="GY") GUYANA
                option(value="HT") HAITI
                option(value="HM") HEARD AND MC DONALD ISLANDS
                option(value="HN") HONDURAS
                option(value="HK") HONG KONG
                option(value="HU") HUNGARY
                option(value="IS") ICELAND
                option(value="IN") INDIA
                option(value="ID") INDONESIA
                option(value="IQ") IRAQ
                option(value="IE") IRELAND
                option(value="IL") ISRAEL
                option(value="IT") ITALY
                option(value="JM") JAMAICA
                option(value="JP") JAPAN
                option(value="JO") JORDAN
                option(value="KZ") KAZAKHSTAN
                option(value="KE") KENYA
                option(value="KI") KIRIBATI
                option(value="KW") KUWAIT
                option(value="KG") KYRGYZSTAN
                option(value="LA") LAO PEOPLE'S DEMOCRATIC REPUBLIC
                option(value="LV") LATVIA
                option(value="LB") LEBANON
                option(value="LS") LESOTHO
                option(value="LR") LIBERIA
                option(value="LY") LIBYAN ARAB JAMAHIRIYA
                option(value="LI") LIECHTENSTEIN
                option(value="LT") LITHUANIA
                option(value="LU") LUXEMBOURG
                option(value="MO") MACAU
                option(value="MG") MADAGASCAR
                option(value="MW") MALAWI
                option(value="MY") MALAYSIA
                option(value="MV") MALDIVES
                option(value="ML") MALI
                option(value="MT") MALTA
                option(value="MH") MARSHALL ISLANDS
                option(value="MQ") MARTINIQUE
                option(value="MR") MAURITANIA
                option(value="MU") MAURITIUS
                option(value="YT") MAYOTTE
                option(value="MX") MEXICO
                option(value="MC") MONACO
                option(value="MN") MONGOLIA
                option(value="MS") MONTSERRAT
                option(value="MA") MOROCCO
                option(value="MZ") MOZAMBIQUE
                option(value="MM") MYANMAR
                option(value="NA") NAMIBIA
                option(value="NR") NAURU
                option(value="NP") NEPAL
                option(value="NL") NETHERLANDS
                option(value="AN") NETHERLANDS ANTILLES
                option(value="NC") NEW CALEDONIA
                option(value="NZ") NEW ZEALAND
                option(value="NI") NICARAGUA
                option(value="NE") NIGER
                option(value="NG") NIGERIA
                option(value="NU") NIUE
                option(value="NF") NORFOLK ISLAND
                option(value="MP") NORTHERN MARIANA ISLANDS
                option(value="NO") NORWAY
                option(value="OM") OMAN
                option(value="PK") PAKISTAN
                option(value="PW") PALAU
                option(value="PA") PANAMA
                option(value="PG") PAPUA NEW GUINEA
                option(value="PY") PARAGUAY
                option(value="PE") PERU
                option(value="PH") PHILIPPINES
                option(value="PN") PITCAIRN
                option(value="PL") POLAND
                option(value="PT") PORTUGAL
                option(value="PR") PUERTO RICO
                option(value="QA") QATAR
                option(value="RE") REUNION
                option(value="RO") ROMANIA
                option(value="RU") RUSSIAN FEDERATION
                option(value="RW") RWANDA
                option(value="SH") SAINT HELENA
                option(value="KN") SAINT KITTS AND NEVIS
                option(value="LC") SAINT LUCIA
                option(value="PM") SAINT PIERRE AND MIQUELON
                option(value="VC") SAINT VINCENT AND THE GRENADINES
                option(value="WS") SAMOA
                option(value="SM") SAN MARINO
                option(value="ST") SAO TOME AND PRINCIPE
                option(value="SA") SAUDI ARABIA
                option(value="SN") SENEGAL
                option(value="CS") SERBIA AND MONTENEGRO
                option(value="SC") SEYCHELLES
                option(value="SL") SIERRA LEONE
                option(value="SG") SINGAPORE
                option(value="SK") SLOVAKIA
                option(value="SI") SLOVENIA
                option(value="SB") SOLOMON ISLANDS
                option(value="SO") SOMALIA
                option(value="ZA") SOUTH AFRICA
                option(value="GS") SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS
                option(value="ES") SPAIN
                option(value="LK") SRI LANKA
                option(value="SD") SUDAN
                option(value="SR") SURINAME
                option(value="SJ") SVALBARD AND JAN MAYEN ISLANDS
                option(value="SZ") SWAZILAND
                option(value="SE") SWEDEN
                option(value="CH") SWITZERLAND
                option(value="SY") SYRIAN ARAB REPUBLIC
                option(value="TW") TAIWAN
                option(value="TJ") TAJIKISTAN
                option(value="TH") THAILAND
                option(value="TL") TIMOR-LESTE
                option(value="TG") TOGO
                option(value="TK") TOKELAU
                option(value="TO") TONGA
                option(value="TT") TRINIDAD AND TOBAGO
                option(value="TN") TUNISIA
                option(value="TR") TURKEY
                option(value="TM") TURKMENISTAN
                option(value="TC") TURKS AND CAICOS ISLANDS
                option(value="TV") TUVALU
                option(value="UG") UGANDA
                option(value="UA") UKRAINE
                option(value="AE") UNITED ARAB EMIRATES
                option(value="GB") UNITED KINGDOM
                option(value="US") UNITED STATES
                option(value="UM") UNITED STATES MINOR OUTLYING ISLANDS
                option(value="UY") URUGUAY
                option(value="UZ") UZBEKISTAN
                option(value="VU") VANUATU
                option(value="VE") VENEZUELA
                option(value="VN") VIET NAM
                option(value="WF") WALLIS AND FUTUNA ISLANDS
                option(value="EH") WESTERN SAHARA
                option(value="YE") YEMEN
                option(value="ZM") ZAMBIA
                option(value="ZW") ZIMBABWE
          .row
            .col.col-6
              label.input-label
                input(name="organization phone" type="tel"  class="organization__phone half")
                span(class="plaseholder-title") Telefono
            .col.col-6  
              label.input-label
                input(name="personal phone" type="tel" class="personal__phone half nomargin")
                span(class="plaseholder-title") Mobile (SMS)
          .row
            .col.col-6
              label.input-label
                input(name="organization fax" type="tel" class="organization__fax half")
                span(class="plaseholder-title") Fax
            .col.col-6
              label.input-label
                span(class="plaseholder-title") Web
                input(name="organization site" type="site" class="organization__site half nomargin")
          .row
            .col.col-8
              .radio-block
                input(name="consent to processing" id="consent-to-processing" type="radio" class="consent-to-processing" value="yes")
                label(for="no-consent-to-processing") Si
                input(name="consent to processing" checked="yes" id="no-consent-to-processing" type="radio" class="no-consent-to-processing" value="no")
                label(for="no-consent-to-processing") No
                .consent-to-processing__description Autorizzo al trattamento dei dati
            .col.col-4
              input(class="button button__submit" type="submit" form="popup-form_create-account" value="invia")
