- var items = ["Monofilo, sagomatori e sistemi di squadratura","taglio dei blocchi", "lucidatura lastre/strisce", "taglio lastre", "taglio strisce", " finitura perimetrale", "frese a ponte", "waterjet", "Contornatrici cnc", "centri di lavoro a 5 assi", "implanti di resinatura"]
.header-bottom(class=(mod ? "header-bottom--" + mod : '' ))
  .header-bottom__content
    ul.header-bottom__links
      li.header-bottom__link(class=(mod ? 'open' : '') data-name="marmo")
        a(href="#") marmo
      li.header-bottom__link( data-name="granito")
        a(href="#") granito
      li.header-bottom__link( data-name="laboratorio")
        a(href="#") laboratorio
  .products(class=(mod ? 'active' : '') data-name="marmo")
    ul.products__list
      each item, n in items
        li.products__item
          a(href="#").products__link
            .products__img-wrap
              img.products__img(src="commons/images/product-list_" + (n+1) + ".png" alt="")
            .products__item-overlay
              h5.products__item-title= item
          include product-list-inner.pug
  .products(data-name="granito")
    ul.products__list
      each item, n in items
        li.products__item
          a(href="#").products__link
            .products__img-wrap
              img.products__img(src="commons/images/product-list_" + (n+1) + ".png" alt="")
            .products__item-overlay
              h5.products__item-title= item
          include product-list-inner.pug
  .products(data-name="laboratorio")
    ul.products__list
      each item, n in items
        li.products__item
          a(href="#").products__link
            .products__img-wrap
              img.products__img(src="commons/images/product-list_" + (n+1) + ".png" alt="")
            .products__item-overlay
              h5.products__item-title= item
          include product-list-inner.pug
          
