.products-description
    h3.products-description__main-title This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor <br>aliquet.
    .product-description__items
        .product-description__item.right-img
            a.product-item__link(class="open-popup open-popup--iframe" href="https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent")
                .product-item__img-wrap.video-btn
                    img(src="commons/images/product-detail/product_detail_1.png" alt="")
            .product-item__text-wrapper
                h4.product-item__title LA MODELLATRICE E SAGOMATRICE A 10 ASSI
                .product-item__description La <strong>Fuego Multiaxis</strong> interpreta lo spirito innovativo e tecnologico di Breton. E’ una macchina per la profilatura e sbozzatura di blocchi e masselli con filo diamantato capace di interpolare fino a 10 assi. Equipaggiata con una piattaforma girevole (spostamento lineare del carro portablocco e rotazione del carro portablocco), la Fuego consente di eseguire profili complessi come: colonne cilindriche e coniche, gusci per il rivestimento di colonne, sagome per l'arredamento, scale, cornici
        .product-description__item.left-img
            a.product-item__link(class="open-popup open-popup--image" href="commons/images/product-detail/product_detail_2.png")
                .product-item__img-wrap
                    img(src="commons/images/product-detail/product_detail_2.png" alt="")
            .product-item__text-wrapper
                h4.product-item__title Caratteristiche distintive
                .product-item__description Questa macchina, avendo su ciascuna colonna un carrello e due pulegge da 1000 mm di diametro, lavora con filo inclinato di +/- 20° blocchi con altezza fino a 1.800mm. <br><br>I due carrelli si muovono uno indipendentemente dall’altro e così si realizza l’inclinazione del filo scendendo sotto il livello del terreno di meno di 30 cm. <br><br>In caso di filo parallelo la distanza tra filo diamantato e base d’appoggio del carro portablocco è di 2.200 mm.
        .product-description__item
            a.product-item__link(class="open-popup open-popup--image" href="commons/images/product-detail/product_detail_3.png")
                .product-item__img-wrap
                    img(src="commons/images/product-detail/product_detail_3.png" alt="")
            .product-item__text-wrapper
                h4.product-item__title Caratteristiche distintive
                .product-item__description Questa macchina, avendo su ciascuna colonna un carrello e due pulegge da 1000 mm di diametro, lavora con filo inclinato di +/- 20° blocchi con altezza fino a 1.800mm.I due carrelli si muovono uno indipendentemente dall’altro e così si realizza l’inclinazione del filo scendendo sotto il livello del terreno di meno di 30 cm.
