.product-detail__more-information
    h3.more-info__main-title
        span approfondimenti sul prodotto
    .more-info__product
        .more-info__photo
            img(src="commons/images/product-more.png" alt="")
        h4.more-info__product-title Oscar Daffe sceglie la FUEGO per le sue realizzazioni
        .more-info__product-description Maestria, efficienza, arte, non possono che descrivere alla perfezione ciò che è Oscar Daffe. Un’azienda belga con una tradizione lunga più 85 anni, nei quali ha affinato innovative tecniche di lavorazione della pietra. Lorem ipsum dolor sit amet, consectetur dolore eu fugiat nulla pariatur.
        a.more-info__product-link(href="#") Leggi di più >
    .more-info__downloads
        .more-info__download-item
            .download-item__title(id="more-info-switch-1") level 1 access Download
            .download-item__content(id="more-info-display-1")
                .download-item__registration-form
                    input(type="email" id="product-details__form-email" placeholder="enter the code received by e-mail" class="product-details__email")
                    button(type="submit" class="btn btn-login") login
                    label(for="product-details__form-email" class="product-details__email-label") Senza codice di accesso?
                    a.registration-code-link.open-popup.open-popup--inline(href="#createAccount") Richiedi il codice
                include product-more-table
        .more-info__download-item
            .download-item__title(id="more-info-switch-2") level 2 access Download
            .download-item__content(id="more-info-display-2")
                .download-item__registration-form.download-item__registration-form--2col
                    .row
                        .col.col--form-text
                            input(type="text" id="product-details__form-username" placeholder="username" class="product-details__username")
                        .col.col--form-text
                            input(type="password" id="product-details__form-password" placeholder="password" class="product-details__password")
                        .col.col--form-actions
                            button(type="submit" class="btn btn-login") login
                    label(for="product-details__form-username" class="product-details__username-label") Senza codice di accesso?
                    a.registration-code-link(href="#createAccount" class="open-popup open-popup--inline") Richiedi il codice
                include product-more-table
        .more-info__download-item
            .download-item__title(id="more-info-switch-3") free access download
            .download-item__content(id="more-info-display-3")
                include product-more-table
        .more-info__download-item
            .download-item__title(id="more-info-switch-4") free access download
            .download-item__content(id="more-info-display-4")
                include product-more-table
