-var titles = ['fuego 10 axis', 'fuego 4 x', 'easywire', 'easywire duo', 'easywire 4wd', 'sharpwire']
.products-inner
  .products-inner__header
    h5.products-inner__title= item
    a.products-inner__title-link(href="#") chiudi
  ul.products-inner__list
    each title,i in titles 
      li.products-inner__item
        a.products-inner__link(href="#")
          .products-inner__img-wrap
            img(src="commons/images/product-container__item-image_" + (i+1) + ".png" alt class="products-inner__img")
          h6.products-inner__item-title= title
          - if (title == "easywire")
            .products-inner__item-description breve descrizione della macchina. Lorem ipsum dolor sit amet, consectetur adipisicing breve descrizione della macchina. Lorem ipsum dolor sit amet, consectetur adipisicing breve descrizione della macchina. Lorem ipsum dolor sit amet, consectetur adipisicing
          - else
            .products-inner__item-description breve descrizione della macchina. Lorem ipsum dolor sit amet, consectetur adipisicing
