.table.download-item__download-table
    .thead
        .tr
            .th.name NOME FILE
            .th.description DESCRIZIONE
            .th.dimensione DIMENSIONE
            .th.level LEVEL
            .th.download DOWNLOAD
    .tbody
        .tr
            .td.name
                a(href="#") Breton_LAS TECNOLOGÍAS Y LAS INSTALACIONES_Spanish.PDF
            .td.description
                a(href="#") LAS TECNOLOGÍAS Y LAS INSTALACIONES
            .td.dimensione
                a(href="#") 3039 KB
            .td.level
                a(href="#") 1
            .td.download
                a(href="#")
                    i(class="fa fa-cloud-download" aria-hidden="true")
        .tr
            .td.name
                a(href="#") Breton_TECHNOLOGY AND PLANTS_English.PDF
            .td.description
                a(href="#") TECHNOLOGY AND PLANTS
            .td.dimensione
                a(href="#") 3039 KB
            .td.level
                a(href="#") 1
            .td.download
                a(href="#")
                    i(class="fa fa-cloud-download" aria-hidden="true")
        .tr
            .td.name
                a(href="#") Breton_TECHNOLOGY AND PLANTS_Arabic.PDF
            .td.description
                a(href="#") TECHNOLOGY AND PLANTS
            .td.dimensione
                a(href="#") 4193 KB
            .td.level
                a(href="#") 1
            .td.download
                a(href="#")
                    i(class="fa fa-cloud-download" aria-hidden="true")
        .tr
            .td.name
                a(href="#") Breton_TECHNOLOGY AND PLANTS_Farsi.PDF
            .td.description
                a(href="#") TECHNOLOGY AND PLANTS
            .td.dimensione
                a(href="#") 3568 KB
            .td.level
                a(href="#") 1
            .td.download
                a(href="#")
                    i(class="fa fa-cloud-download" aria-hidden="true")
        .tr
            .td.name
                a(href="#") Breton_AS TECNOLOGIASE AS UNIDADES DE FABRICO_Portoghese.PDF
            .td.description
                a(href="#") AS TECNOLOGIASE AS UNIDADES DE FABRICO
            .td.dimensione
                a(href="#") 3039 KB
            .td.level
                a(href="#") 1
            .td.download
                a(href="#")
                    i(class="fa fa-cloud-download" aria-hidden="true")
