mixin video
  video.video.video--html5(controls poster="commons/video/New-York-Sky.jpg" width="640" height="360")
    source(src="commons/video/New-York-Sky.mp4" type="video/mp4")
    source(src="commons/video/New-York-Sky.webm" type="video/webm")
    source(src="commons/video/New-York-Sky.ogv" type="video/ogg")
    object.video.video--flash(width="640" height="360" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer.swf")
      param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer.swf")
      param(name="allowFullScreen" value="true")
      param(name="wmode" value="opaque")
      param(name="bgcolor" value="#000000")
      param(name="flashVars" value="config={'playlist':['http://localhost:3000/commons/video/New-York-Sky.jpg', {'url':'http://localhost:3000/commons/video/New-York-Sky.mp4','autoPlay':false,'autobuffering':false}]}")

mixin youtube-video
  iframe.video.video--iframe.video--youtube(src="https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent" width="640" height="360" frameborder="0" allowfullscreen wmode="Opaque")
