-
  var videos = [
    {
      img:"commons/images/webtv_1.png",
      title: "High speed precision milling 5 axis cnc Breton Ultrix impeller",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_2.png",
      title: "Breton Shapemill NCF with lathe",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_3.png",
      title: "Breton Shapemill NCF with lathe 2",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_4.png",
      title: "ShapeMill 001",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_1.png",
      title: "High speed precision milling 5 axis cnc Breton Ultrix impeller",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_2.png",
      title: "Breton Shapemill NCF with lathe",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_3.png",
      title: "Breton Shapemill NCF with lathe 2",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    },
    {
      img:"commons/images/webtv_4.png",
      title: "ShapeMill 001",
      video: "https://www.youtube.com/embed/YyaixwC_-Gs?version=3&enablejsapi=1&wmode=transparent"
    }
  ]
mixin video(data, group)
  .webtv-carousel__item
    a.webtv-carousel__link(class=(group ? group : "gallery") href=data.video)
      .webtv-item__image
        img(src=data.img alt="")
        .webtv-item__youtube-icon
          img(src="commons/images/youtube-icon.png" alt="")
      .webtv-item__footer
        | #{data.title}

.webtv-list
    .webtv-list__channels
        .webtv-list__channel
            .webtv-channel__title(id="more-info-switch-5") tutti
            .webtv-channel__content(id="more-info-display-5")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000  
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-1')
            .webtv-channel__title(id="more-info-switch-6") centri di lavord a 5 assi
            .webtv-channel__content(id="more-info-display-6")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-2')
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ContourFive NC 700 - 1000 - 1200
                            span.number-video
                              | 23 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-3')
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | Waterjet Classica
                            span.number-video
                              | 2 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-4')
            .webtv-channel__title(id="more-info-switch-7") finitura perimetrale
            .webtv-channel__content(id="more-info-display-7")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-5')
            .webtv-channel__title(id="more-info-switch-8") scanalatrice a v
            .webtv-channel__content(id="more-info-display-8")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-6')
            .webtv-channel__title(id="more-info-switch-9") levigatrice a 1 mandrino per lastre
            .webtv-channel__content(id="more-info-display-9")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          | ShapeMill NCF 1200 - 1600 - 2000
                          span.number-video
                            | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-7')
            .webtv-channel__title(id="more-info-switch-10") imp.automatici con magazzini multipiano
            .webtv-channel__content(id="more-info-display-10")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-8')
            .webtv-channel__title(id="more-info-switch-11") software breton
            .webtv-channel__content(id="more-info-display-11")
                .channel-item__carousel-list
                    .channel-item__carousel
                        .webtv-carousel__name
                          span
                            | ShapeMill NCF 1200 - 1600 - 2000
                            span.number-video
                              | 40 video
                        .webtv-carousel__items.popup-gallery
                          each video in videos
                            +video(video, 'gal-9')
