-
  var cards = [
    {
      title: "SO.F.I. SRL",
      addressTop: "VIA CANICARAO 38,",
      addressBottom: "97013 COMISO (RG) - IT",
      site: "www.sofisrl.com",
      email: "commerciale@sofisrl.com",
      count: 1
    },
    {
      title: "EGE MERMER Sanayi Limited Sirketi",
      addressTop: "Sirakapilar Mah. Mimar Sinan Cad.",
      addressBottom: "1584 Sk. No: 2/10 DENIZLI",
      phone: "+90 258 264 87 11",
      fax: "+90 258 263 65 08",
      site: "www.egemermer.com",
      email: "ihsanacikalin@hotmail.com",
      count: 2
    },
    {
      title: "MOSTARDA ANGELO",
      addressTop: "Via Della Tenuta di Torrenova, 120 Scala B int.11",
      addressBottom: "00133 – ROMA",
      email: "angelo.mostarda@tiscali.it",
      count: 3
    }
  ]
mixin cards(cards)
  .workshop__office-items
    each card in cards
      - for (var n=0; n< card.count; n++)
        .workshop__office-item
          .workshop__office-content
            .workshop-office__title
              | #{card.title}
            .workshop-office__address
              | #{card.addressTop}
              | </br>
              | #{card.addressBottom}
            if (card.phone)
              a(href="call:" + card.phone).workshop-office__telephone
                | #{card.phone}
            if (card.fax)
              a(href="fax:" + card.fax).workshop-office__fax
                | #{card.fax}
            if (card.site)
              a(href=card.site).workshop-office__site
                | #{card.site}
            if (card.email)
              a(href="maito:" + card.email).workshop-office__email
                | #{card.email}

.workshop__contacts-list
  .workshop__geolocation
    .geolocation-title
      span
        | italia
    +cards(cards)
  .workshop__geolocation
    .geolocation-title
      span
        | europa
    +cards(cards)
  .workshop__geolocation      
    .geolocation-title
      span
        | paesi extra-europei
    +cards(cards)
