$breakpoint-max: max-width;
$breakpoint-min: min-width;
$phone-max: 767px;
$tablet-min: 900px;
$tablet-max: 1024px;
$desktop-min: 1200px;
$breakpoint-phone: ($breakpoint-max: $phone-max);
$breakpoint-tablet: ($breakpoint-min: $tablet-min);
$breakpoint-tablet-max: ($breakpoint-max: $tablet-max);
$breakpoint-desktop: ($breakpoint-min: $desktop-min);
