.btn {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $color_red_background;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-login {
  padding: 9px 22px;
  cursor: pointer;
  &:after {
    content: '\f090';
    font-family: "FontAwesome", sans-serif;
    font-size: 16px;
    margin-left: 12px;
  }
}

.btn-ajax-view-more {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: 0;
  box-shadow: none;
  background-color: $color_red_background;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 36px;
  &:focus {
    border: none;
    outline: none;
  }
}
