//background
$color_black_background: #1b1b1b;
$color_black_header_border: #222222;
$color_red_background: #ce2414;
$color_dark_red_background: #9c1b0f;
$color_black_background: #1b1b1b;
$color_search_gray_background: #dcdcdc;
$color_light_gray_seporator: #e5e5e5;
$color_gray_checkbox: #555555;
$color_gray_bullits: #a0a0a0;
$color_gray_header: #929292;
$color_gray_fieldset: #aaaaac;
//fonts
$color_white_fonts: #efefef;
$color_red_fonts: #ce2414;
$color_gray_fonts: #535353;
$color_light_gray_fonts: #7e7e7e;
$color_dark_gray_fonts_hover: #161616;
$color_map_gray_fonts: #3d3d3d;
$color_block_footer_gray_fonts: #323232;
$color_footer_gray_fonts: #f4f4f4;