$gutter: 10px;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif; 
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

video {
  background: #000;
}

.sticky-footer-wrap {
  min-height: calc(100vh - 243px);
}

.desktop-hidden {
  display: none !important;
}
