input[type="text"],
input[type="tel"],
input[type="site"],
input[type="password"],
input[type="email"] {
  position: relative;
  width: 100%;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid $color_light_gray_seporator;
  height: 45px;
  color: $color_light_gray_fonts;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;

  &::placeholder {
    color: inherit;
  }

  &:focus,
  &:active,
  &.active {
    &::placeholder {
      color: transparent;
    }

    + span {
      opacity: 0;
    }
  }
  &.error {
    &:not(:focus,.active) {
      border-color: $color_red_fonts;
    }
    + span {
      color: $color_red_fonts;
    }
  }
  &:focus {
    outline: none;
  }

  &.product-details__email, &.product-details__username, &.product-details__password {
    width: 220px;
    border: none;
    border-bottom: 1px solid $color_light_gray_seporator;
    box-shadow: none;
    outline: none;
    color: $color_gray_fonts;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 20px;
  }
}

label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;

  &.input-label {
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .plaseholder-title {
    color: gray;
    position: absolute;
    left: 5px;
    bottom: 12px;
    z-index: 1;
  }
  .symbol {
    color: red;
  }
}

input[type=submit] {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  background-color: $color_red_background;
  border: 0;
  box-shadow: none;
  text-align: right;
  padding: 4px 33px;
  float: right;
  margin: 10px;
  &:focus {
    outline: none;
  }
  cursor: pointer;
}


textarea {
  margin-top: 40px !important;
  margin-bottom: 25px !important;
  border: none;
  border-top: 1px solid $color_light_gray_seporator;
  border-bottom: 1px solid $color_light_gray_seporator;
  height: 70px !important;
  box-shadow: none;
  width: 100%;
  max-width: 1200px;
  resize: none;
  color: $color_light_gray_fonts;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
}
.jcf-checkbox {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: default;
  background: #fff;
  border-radius: 2px;
  border: 1px solid $color_gray_checkbox;
  margin: 0 5px 0 0;
  height: 10px;
  width: 10px;
  transition: all .2s linear;
  overflow: hidden;

  &.jcf-checked {
    cursor: pointer;
    border: 1px solid $color_gray_checkbox;

    span {
      display: block;
    }
  }

  span {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 5px;
    width: 7px;
    border: solid $color_gray_checkbox;
    border-width: 0 0 2px 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: none;
  }

  input[type=checkbox] {
    cursor: pointer;
  }
}

.radio-block {
  margin-top: 15px;
  display: inline-block;

  label {
    margin-right: 20px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
  }
}

.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  margin: 0 5px 0 0;
  height: 14px;
  width: 14px;
  padding: 1px;

  span {
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: block;
    background-color: #a0a0a0;
    border-radius: 50%;
  }
  &.jcf-checked {
    span {
      background-color: $color_red_background;
    }
  }
}

.radio-buttons {
  $title-width: 115px;

  padding: 17px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_light_gray_seporator;

  &__title {
    width: $title-width;
    padding-right: 10px;
  }

  &__group {
    padding-left: $title-width;
  }
}

.radio-button {
  &__label {
    margin-right: 18px;
    margin-bottom: 10px;
  }

  &__text {
    vertical-align: middle;
  }
}

.job-form__gender-input {
  width: 100%;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  color: $color_light_gray_fonts;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid $color_light_gray_seporator;
  padding-bottom: 10px;
  padding-top: 15px;
  height: 44px;

  .star {
    color: $color_red_fonts;
    margin-right: 40px;
  }
  .jcf-radio + label {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.jcf-select {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  line-height: 1.5;

  &.jcf-select-organization__country {
    margin: 0 2px 0 0;
    box-shadow: 0 0 3px 0 #cfcfcf;;
    border: 1px solid #cfcfcf;
    display: inline-block;
    vertical-align: top;
    .jcf-select-opener:after {
      color: $color_light_gray_fonts;
    }
  }
  &.jcf-select-fair-organization__country {
    min-height: 45px;
    margin: 0 2px 0 0;
    border: 1px solid #cfcfcf;
    display: inline-block;
    vertical-align: top;
    .jcf-select-opener:after {
      color: #323232;
    }
    .jcf-select-text {
      span {
        &:after {
          content: '';
        }
      }
    }
  }
  &.jcf-select-job-form__person-province, &.jcf-select-job-form__person-qualification, &.jcf-select-job-form__person-office-address, &.jcf-select-job-form__person-interest, &.jcf-select-job-form__person-interest-no-require, &.jcf-select-job-form__person-specialization, &.jcf-select-job-form__person-business-area {
    display: inline-block;
    vertical-align: top;
    margin: 0 2.85% 0 0;
    border: 1px solid #cfcfcf;
    width: 100%;
    box-shadow: 0 0 3px 1px rgb(170, 170, 170);
    box-shadow: 0 0 3px 1px rgba(170, 170, 170, 0.5);
    .jcf-select-opener:after {
      color: $color_red_background;
    }
    .jcf-reset-appearance {
      // width: 48.1% !important;
    }
  }
  &.jcf-select-job-form__person-office-address, &.jcf-select-job-form__person-interest-no-require, &.jcf-select-job-form__person-business-area {
    margin-right: 1px;
  }
  &.jcf-select-job-form__person-interest-no-require {
    .jcf-select-text {
      span {
        &:after {
          content: '';
        }
      }
    }
  }
  .jcf-reset-appearance {
    // height: 50px !important;
    width: 265px !important;
    color: $color_light_gray_fonts;
    font-size: 14px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
  }
  .jcf-select-text {
    display: block;
    span {
      color: $color_light_gray_fonts;
      font-size: 14px;
      font-weight: 400;
      font-family: "Source Sans Pro", sans-serif;
      padding-left: 4px;
      &:after {
        content: ' *';
        color: $color_red_fonts;
        font-size: 16px;
      }
    }
  }
  .jcf-select-opener {
    position: absolute;
    display: block;
    right: 7px;
    top: 50%;
    margin-top: -8px;
    font-size: 0;
    &:after {
      font-family: 'FontAwesome', sans-serif;
      content: '\f107';
      font-size: 16px;
      height: 16px;
      width: 16px;
      line-height: 1;
    }
  }
  .jcf-select-drop {
    background-color: #ffffff;
    z-index: 3;
    position: absolute;
    border: 1px solid $color_gray_bullits;
    top: 100%;
    left: -1px;
    width: 100%;
    max-height: 310px;
    height: auto;
    overflow-y: auto;
    .jcf-list-content {
      display: block;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          color: $color_light_gray_fonts;
          font-size: 14px;
          font-weight: 400;
          font-family: "Source Sans Pro", sans-serif;
          padding: 5px 0 5px 5px;

          &:hover {
            background-color: $color_gray_bullits;
          }
          .jcf-option {
            display: block;
          }
        }
      }
    }
  }
  &.error {
    &:not(.jcf-focus) {
      box-shadow: 0 0 3px 1px $color_red_fonts;
      box-shadow: 0 0 3px 1px rgba($color_red_fonts, 0.5);
      span {
        color:$color_red_fonts;
      }
    }
  }
}

.no-consent-to-processing__description {
  color: $color_light_gray_fonts;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
}
.consent-to-processing__description {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  &:after {
    content: ' *';
    color: $color_red_fonts
  }
}
.no-consent-to-processing__requared {
  display: block;
  clear: both;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;

  &:before {
    content: ' * ';
    color: $color_red_fonts
  }
}

.job-form__requared-error {
  display: none;
  margin: 15px 0;
  color: $color_red_fonts;

  &.error {
    display: block;
  }
}

