.h3 {
  @inlcude clearfix;

  position: relative;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 28px;
  padding: 0;
  color: inherit;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 1px solid #aaaaac;
    bottom: 3px;
  }

  > span {
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    padding-right: 10px;
  }

  > a {
    display: inline-block;
    float: right;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: $color_red_fonts;
    text-transform: uppercase;
    padding-right: 10px;

    &:after {
      content: '\f105';
      font-family: "FontAwesome", sans-serif;
      font-size: 24px;
      font-weight: 300;
      margin-left: 5px;
    }
  }

  &--border-red {
    &:before {
      border-color: #ce2414;
    }
  }
}
