ul.right-social-block
    li.right-social-item(class="right-social-item_HZ")
        a(href="#")
            svg(viewBox="0 0 28 29" height="19" width="18")
                path(fill="#ce2414" d="M22.814 9.031h-1.95c-1 0-1.185-.764-1.185-1.707.001-4.045-3.272-7.324-7.308-7.324h-5.062c-4.037 0-7.309 3.279-7.309 7.324v9.352c0 4.045 3.272 7.324 7.309 7.324h9.383c4.036 0 7.308-3.279 7.308-7.324v-6.457c0-.657-.531-1.188-1.186-1.188zm-15.428-3.031h4.229c.765 0 1.385.671 1.385 1.5s-.62 1.5-1.386 1.5h-4.228c-.766 0-1.386-.671-1.386-1.5s.62-1.5 1.386-1.5zm9.134 12h-9.04c-.817 0-1.48-.672-1.48-1.5 0-.83.663-1.5 1.48-1.5h9.039c.817 0 1.48.67 1.48 1.5.001.828-.662 1.5-1.479 1.5z")
    li.right-social-item(class="right-social-item_fb")
        a(href="#")
            i(class="fa fa-facebook" aria-hidden="true")
    li.right-social-item(class="right-social-item_tw")
        a(href="#")
            i(class="fa fa-twitter" aria-hidden="true")
    li.right-social-item(class="right-social-item_ytb")
        a(href="#")
            i(class="fa fa-youtube-play" aria-hidden="true")
    li.right-social-item(class="right-social-item_gplus")
        a(href="#")
            i(class="fa fa-google-plus" aria-hidden="true")
    li.right-social-item(class="right-social-item_ln")
        a(href="#")
            i(class="fa fa-linkedin" aria-hidden="true")