doctype html
html(lang="it")
  -var title = "Home page"
  include ../commons/head
  body.home
    include ../elements/header_home
    .container
      include ../elements/sliders/main_slider.pug
      include ../elements/divisions.pug
      include ../elements/map.pug
      include ../elements/about_us.pug
      include ../elements/footer-home.pug
      include ../elements/cookie.pug
    include ../elements/socials/right-social-block
    include ../elements/popup_reserved-area
    include ../elements/popup_create-account
    
    include ../commons/cellar
