doctype html
html(lang="it")
    head
        -var title = "Division"
        include ../commons/head
    body
        include ../elements/header
        .container
            include ../elements/breadcrumbs/division_breadcrumbs
            include ../elements/sliders/division_slider
            include ../elements/sliders/division_carousel
            include ../elements/division_news
            include ../elements/forms/contact_form
            include ../elements/footer
        include ../elements/socials/right-social-block
        include ../commons/cellar
