script(src="commons/js/vendor/jquery.min.js")
script(src="commons/js/vendor/jcf.js")
script(src="commons/js/vendor/jcf.checkbox.js")
script(src="commons/js/vendor/jcf.radio.js")
script(src="commons/js/vendor/jcf.scrollable.js")
script(src="commons/js/vendor/jcf.select.js")
script(src="commons/js/vendor/jquery.magnific-popup.min.js")
script(src="commons/js/vendor/jquery.mCustomScrollbar.concat.min.js")
script(src="commons/js/vendor/jquery.matchHeight-min.js")
script(src="commons/js/vendor/masonry.pkgd.min.js")
script(src="commons/js/vendor/slick.min.js")
script(src="commons/js/vendor/jquery.waypoints.min.js")
script(src="commons/js/vendor/sticky.min.js")
script(src="commons/js/vendor/inview.min.js")
script(src="commons/js/vendor/placeholders.min.js")
script(src="commons/js/main.js")
