head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

  title= title || "Breton"

  link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Source+Sans+Pro:200,300,400,600,700&amp;subset=cyrillic" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="commons/css/vendor/magnific-popup.min.css" rel="stylesheet")
  link(href="commons/css/vendor/jquery.mCustomScrollbar.min.css" rel="stylesheet")
  link(href="commons/css/vendor/slick.min.css" rel="stylesheet")
  link(rel="stylesheet" href="commons/css/main.css")
  
  <!--[if gt IE 9]><!-->
    <link rel="stylesheet" href="commons/css/adaptive.css"/>
  <!--<![endif]-->
  <!--[if lte IE 9]>
    link(href="commons/css/ie.css" rel="stylesheet" media="all")
    script(src="commons/js/vendor/html5shiv.js")
    script(src="commons/js/vendor/es5-shim.min.js")
    script(src="commons/js/vendor/es5-sham.min.js")
  <![endif]-->
