- 
  var pages = {
    division: {
      links: [
        "Breton"
      ],
      current: "Division name"
    },
    productDetail: {
      links: [
        "Home",
        "Prodotti"
      ],
      current: "Fuego 10 Axis"
    },
    company: {
      links:[
        "Home"
      ],
      current: "Azienda"
    },
    workshop: {
      links: [
        "Home",
        "Prodotti"
      ],
      current: "Centri autorizzati"
    },
    fairList: {
      links:[
        "Home"
      ],
      current: "Fiere"
    },
    webTv: {
      links:[
        "Home"
      ],
      current: "WebTV"
    },
    newsletter: {
      links:[
        "Home"
      ],
      current: "Archivio newsletter"
    },
    jobForm: {
      links:[
        "Home"
      ],
      current: "Lavore con noi"
    },
    contactUs: {
      links:[
        "Home"
      ],
      current: "Contatti"
    },
    contactUs: {
      links:[
        "Home"
      ],
      current: "Contatti"
    }
  }
mixin breadcrumbs(data)
  .breadcrumbs
    .breadcrumbs__path
      each link in data.links
        a(href="#").breadcrumbs__link
          | #{link}
        span.breadcrumbs__separator
          | >
      span.breadcrumbs__current
        | #{data.current}
