include breadcrumbs
.content-header.content-header--breadcrumbs
  +breadcrumbs(pages.company)
  h2.page-title breton company
  .page__anchors
    ul.anchor__items
      li.anchor__item
        a(href="#") esplora
        ul.anchor__submenu
          li.anchor__submenu-item
            a(href="#") Controllo Qualità
          li.anchor__submenu-item
            a(href="#") Filosofia aziendale
          li.anchor__submenu-item
            a(href="#") La proprietà
          li.anchor__submenu-item
            a(href="#") Le attività
          li.anchor__submenu-item
            a(href="#") Valore Cliente
          li.anchor__submenu-item
            a(href="#") Ricerca e sviluppo
          li.anchor__submenu-item
            a(href="#") Progettazione e produzione
          li.anchor__submenu-item
            a(href="#") Assistenza
