include breadcrumbs
.content-header.content-header--breadcrumbs
  +breadcrumbs(pages.fairList)
  h2.page-title marmomacc 2016
  .fair-event-information
    .fair-event__dates  <span class="start-date">28 Settembre</span>-<span class="finish-date">1° Ottobre, 2016</span>
    .fair-event__location Fiera di Verona
