include breadcrumbs
.content-header.content-header--breadcrumbs
  +breadcrumbs(pages.productDetail)
  h2.page-title FUEGO 10 AXIS
  .page__anchors
    ul.anchor__items
      li.anchor__item.anchor__item--icon
        a(href="#")
          <i class="icon fa fa-file-text" aria-hidden="true"></i>
          | SCARICA DOCUMENTAZIONE
      li.anchor__item.anchor__item--icon
        a(href="#")
          <i class="icon fa fa-info-circle" aria-hidden="true"></i>
          | RICHIESTA INFORMAZIONI
