@import "tools/mixins";
@import "base/colors";

@media screen and (max-width: 1199px) {
  .product-item__text-wrapper {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .more-info__main-title:after {
    display: none;
  }
  .product-item__text-wrapper_full + .product-item__image {
    img {
      width: 100%;
    }
  }
  .product-item__image {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .newsletter-list__item {
    margin-bottom: 20px;
    &:nth-child(3n+3) {
      margin-right: 20px;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  input[type=text].half-contact, input[type=tel].half-contact, input[type=site].half-contact, input[type=password].half-contact, input[type=email].half-contact {
    width: calc(100% - 4px);
    margin-right: 1px;
    margin-left: 1px;
  }
  .jcf-select {
    &.jcf-select-organization__country {
      width: calc(100% - 4px);
      margin-right: 1px;
      margin-left: 1px;
    }
    &.jcf-select-fair-organization__country {
      width: calc(100% - 4px);
      margin-right: 1px;
      margin-left: 1px;
      .jcf-reset-appearance {
        width: 96% !important;
      }
    }
    &.jcf-select-job-form__person-province, &.jcf-select-job-form__person-qualification, &.jcf-select-job-form__person-office-address, &.jcf-select-job-form__person-interest, &.jcf-select-job-form__person-interest-no-require, &.jcf-select-job-form__person-specialization, &.jcf-select-job-form__person-business-area {
      width: calc(100% - 4px);
      margin-right: 1px;
      margin-left: 1px;
    }
    &.jcf-select-job-form__person-qualification, &.jcf-select-job-form__person-interest, &.jcf-select-job-form__person-specialization {
      margin-bottom: 20px;
    }
  }
  .jcf-select.jcf-select-job-form__person-province .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-qualification .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-office-address .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-interest .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-interest-no-require .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-specialization .jcf-reset-appearance, .jcf-select.jcf-select-job-form__person-business-area .jcf-reset-appearance {
    width: 99% !important;
  }
  .job-form__gender-input {
    width: calc(100% - 4px);
  }
  .job-form__person-english, .job-form__person-french, .job-form__person-german, .job-form__person-spanish, .job-form__person-other {
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 1118px) {
  .header-subbottom__links {
     justify-content: center;
  }
  .division-contact__title {
    font-size: 20px;
  }
  .job-form__form legend {
    font-size: 20px;
  }
  .lp-contact__title {
    font-size: 20px;
  }
  .contact-us-adresses__title {
    font-size: 20px;
  }
  .division-contact__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1070px) {
  .footer__navigation {
    margin-left: 15px;
  }
  .footer-navigation__item {
    padding-right: 5px;
    padding-left: 8px;
  }
  .contact-us-adresses__location {
    float: none;
    margin: 0 0 15px;
    text-align: center;
  }
  .contact-us-adresses__general {
    float: none;
    margin: 0 0 15px;
    text-align: center;
  }
  .contact-us-adresses__service {
    float: none;
    margin: 0 0 15px;
    text-align: center;
  }
  .contact-us-adresses__details {
    float: none;
    margin: 0;
    text-align: center;
  }
  .social__fb-like {
    float: none;
  }
  .social__fb-like-page {
    float: none;
  }
}

@media screen and (max-width: 1024px) {
  .products {
    &__item {
      width: 33%;
      width: calc(100% / 3);
    }
  }
  .header__container .header .header-top .login__content .login__form,
  .header__container .header .header-top .newsletter-subscription__form {
    top: 26px;
  }
  .header__container .header .header-top .social-link {
    ul {
      li {
        padding: 0 5px;
      }
    }
  }
  .header__container .header .header-top .newsletter-subscription__form {
    left: auto;
    right: 0;
  }
  .products-description__main-title {
   br {
     display: none;
   }
  }
  .header__container .header {
    .header-top {
      @include clearfix;

      padding: 5px 10px;

      .used__button {
        padding: 0 15px;
        margin-left: 15px;
        border-right: 1px solid #535353;
      }

      .searchform {
        margin-left: 10px;
        margin-top: 1px;

        .header__search {
          $searchform-height: 20px;

          height: $searchform-height;
          line-height: $searchform-height;
          width: 30px;
          z-index: 150;
          opacity: 0;
          left: 0;
          cursor: pointer;
          transition: all .3s ease;
          position: absolute;
          padding-left: 27px;

          &:focus {
            opacity: 1;
            width: 150px;
            z-index: 0;
            cursor: text;
          }
        }
        .icon-search_log-in,
        .icon-search_log-out {
          &.icon-search {
            touch-action: none;
            display: block;
            float: left;
            padding: 1px 5px;
            box-shadow: none;
            border: none;
            background-color: transparent;
            background: none;
            position: relative;

            .fa-search {
              color: #ffffff;
              font-size: 16px;
              transform: scale(-1, 1);
            }
          }
        }

        &:hover {
          .header__search_log-in,
          .header__search_log-out {
            visibility: visible;
          }
          .icon-search_log-in,
          .icon-search_og-out {
            &.icon-search {
              z-index: 5;
              display: block;
            }
          }
        }
      }
      .choose-language {
        float: none;
        display: none;
        .jcf-select.jcf-select-language .jcf-select-text {
          position: static;
        }
      }
      .social-link {
        float: right;
        margin-right: 0;
        padding: 0 5px;
        border-left: 1px solid #444444;

        ul {
          margin: 0;
        }
      }

      .archive-newsletter__button,
      .newsletter-button,
      .login__button {
        font-size: 0;
      }

      .archive-newsletter__button,
      .newsletter-button {
        padding: 2px 15px;
      }

      .login__button {
        padding: 2px 5px;

        &:before {
          margin-right: 0;
        }
      }

      .archive-newsletter__button {
        margin: 0;
        display: block;
        float: right;
        font-size: 0;
        border-left: 1px solid #444444;

        &:before {
          padding: 0;
        }
      }
      .newsletter-button {
        margin: 0;
        display: block;
        float: right;
        border-left: 1px solid #444444;

        &:before {
          padding: 0;
        }
      }

      .header__home-link,
      .work-with-us__button {
        padding: 2px 10px;
      }

      .header__home-link {
        margin: 0;
        display: block;
        font-size: 0;

        &:after {
          padding: 0;
        }
      }
      .work-with-us__button {
        margin: 0;
        display: block;
        font-size: 0;
        border-left: 1px solid #444444;

        &:before {
          padding: 0;
        }

        &_home {
          border-left: none;
        }
      }
    }
    .header-middle {
      &.stuck {
        .header-middle__links {
          padding: 0;
        }
      }
      .header-middle__logo {
        float: none;
      }
      .header-middle__hamburger {
        display: block;
        position: absolute;
        right: 30px;
        font-size: 35px;
        top: 15px;
        color: $color_red_fonts;
        cursor: pointer;
      }
      .header-middle__links {
        max-height: 0;
        overflow: hidden;
        transition: max-height .6s linear;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 445;
        background-color: white;
        position: absolute;
        float: none;
        padding: 0;
        box-shadow: 0 2px 3px 0 gray;
        margin: 0;

        &.active {
          max-height: 1400px;
          max-height: 100vh;
        }

        .jcf-select-header-middle-language {
          display: block;
          position: relative;
          padding: 10px 0;
          border-top: 1px solid $color_light_gray_fonts;

          .jcf-select-text {
            span {
              text-decoration: none;
              font-size: 22px;
              color: $color_gray_fonts;
              text-transform: uppercase;
              font-family: 'Oswald', sans-serif;
              font-weight: 300;
              padding: 0 22px;

              &:after {
                display: none;
              }
            }
          }
          .jcf-select-opener {
            margin-top: 0;
            top: 27px;

            &:after {
              font-size: 26px;
              position: absolute;
              top: -12px;
              right: 17px;
            }
          }
          .jcf-select-drop {
            width: auto;
            padding: 0;
            top: 11px;
            left: 0;

            .jcf-list-content {
              ul {
                li {
                    font-size: 18px;
                    padding:10px 0 0 10px;
                  &:last-of-type {
                    padding-bottom: 10px;
                  }
                }
              }
            }
          }
        }
        .header-middle__link {
          display: block;
          padding: 10px 0;
          border-top: 1px solid $color_light_gray_fonts;
          border-left: none;
          a {
            border-left: none;
          }
        }
      }
    }
  }
  .header__container .header .header-middle .header-middle__links .choose-language-mobile {
    display: block;
  }
  .company-vision__contacts {
    @include clearfix;
  }
  .company-contacts__item {
    display: block;
    float: left;
    width: 49%;
    border: none;
  }
  .right-social-block {
    display: none;
  }
  .footer .footer__content .footer__home-link {
    a {
      font-size: 0;
    }
  }
  .footer {
    &__home-link {
      margin-right: 0;

      a:after {
        margin-right: 20px;
      }
    }
    &__anchor {
      &__text {
        display: none;
      }
    }
  }
  .fairs-card__title {
    font-size: 20px;
  }
  .fairs-card__media {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      width: 100%;
    }
  }
  .fairs-category__title {
    font-size: 24px;
  }
  .event2-slider__content .hero-slider,
  .hero-slider {
    &__title {
      &,
      &.center,
      &.right {
        position: static;
        transform: none;
        font-size: calc(5vw + 6px);
        background-color: #5e5e5e;
        text-shadow: none;
        padding: 5px 15px 30px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .products-inner {
    &__item {
      width: 50%;
    }
  }
  .cookie {
    display: none;
  }
  .map .map__legend {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    .map__section {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
  .workshop__office-item {
    width: 48%;
    &:nth-child(3n+3) {
      margin-right: 2%;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  .lp-offer {
    width: 100%;
  }
  .lp-contact {
    width: 100%;
  }
  .division-news__item {
    &_1 {
      width: 33%;
      width: calc(100%/3);
    }
    &_2 {
      width: 33%;
      width: calc(100%/3);
    }
    &_3 {
      width: 67%;
      width: calc(100%/1.5);
    }
    &_4 {
      width: 67%;
      width: calc(100%/1.5);
    }
  }
  .division-news__sizer {
    width: 33%;
    width: calc(100%/3);
  }
  .download-item__content {
    .download-item__registration-form {
      input {
        float: left;
        max-width: 55%;
        margin-right: 2%;
      }
      label,
      .registration-code-link {
        float: left;
        display: inline-block;
        margin-top: 10px;
      }
      label {
        clear: left;
      }

      &--2col {
        .btn-login {
          float: left;
        }
        .col--form-text {
          width: 50%;
        }
        input {
          width: 100%;
          max-width: none;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  .company-bullet {
    &__content {
      width: 100%;
      float: none;
    }
  }
  .img-plus-list {
    &__leftside {
      width: 100%;
    }
    &__rightside {
      width: 100%;
      padding: 20px;
      padding-bottom: 50px;
    }
    &__list {
      font-size: 0;
      margin-left: -10px;
      margin-right: -10px;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      font-size: initial;
      width: 33%;
      text-align: center;
      padding: 0 10px;
      i {
        position: static;
        display: inline-block;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
    &__item-text {
      margin-left: 0;
      padding: 0;
    }
  }
  .newsletter__item {
    width: 50%;
  }

  .product-description__item {
    &.right-img,
    &.left-img {
      .product-item {
        &__text-wrapper {
          float: none;
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .h3 {
    > span {
      display: block;
      border-bottom: 1px solid #aaaaac;
    }

    > a {
      float: none;
      margin-top: 0;
    }

    &:before {
      content: none;
    }

    &--border-red {
      > span {
        border-color: #ce2414;
      }
    }
  }
  .table {
    .thead,
    .th {
      display: none;
    }

    .tr,
    .th,
    .td {
      display: block;
    }

    .th,
    .td {
      float: left;
      width: 50%;
      margin: 0;
    }

    .th {
      clear: left;
    }
  }

  .division-carousel__title,
  .division-news__title,
  .more-info__main-title {
    @extend .h3;
  }

  .division-contact__title,
  .contact-us-adresses__title {
    @extend .h3;
    @extend .h3--border-red;
  }

  .products__item {
    width: 50%;
  }
  .fix-header__content {
    display: none;
  }
  .owl-carousel {
    .clickable, .owl-controls {
      .owl-buttons {
        display: none;
      }
      .owl-pagination {
        left: 50%;
        margin-left: -65px;
        position: absolute;
        bottom: 174px;
      }
    }
    .owl-wrapper-outer {
      .owl-item {
        .owl-carousel__content {
          .owl-carousel__title {
            display: block;
            position: static;
            background-color: #ffffff;
            color: $color_red_fonts;
            font-size: 40px;
          }
        }
      }
    }
    .breadcrumbs .breadcrumbs__page-title {
      font-size: 24px;
    }
    .fairs-category__title {
      font-size: 20px;
      top: -27px;
    }
    &.event1-owl-carousel, &.event2-owl-carousel {
      .owl-pagination {
        bottom: 0;
      }
    }
  }
  .event1-slider__content .hero-slider {
    max-width: none;
    float: none;

    &__img-wrap {
      padding-top: 47.5%;
      height: auto;
    }
  }
  .event1-slider__content .event1-slider__information {
    width: 100%;
    min-height: 0;
    padding: 15px 10px;
  }
  .event2-slider__content .hero-slider {
    float: none;
    margin-bottom: 0;

    &__title {
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      transform: none;
    }
  }
  .geolocation-title {
    font-size: 20px;
  }
  .breadcrumbs_only-title {
    .breadcrumbs__page-title {
      font-size: 24px;
    }
  }
  .breadcrumbs .breadcrumbs__page-title {
    font-size: 24px;
  }
  .divisions_wrapper .division
  .division__description {
    padding: 10px 0 10px 40px;
    position: static;
    width: auto;
    background: #5e5e5e;

    .division__link {
      font-size: 24px;
    }
  }
  .map .map__legend {
    display: block;
    .map__section {
      display: block;
      width: auto;
      margin-right: 0;

      .map_number__image {
        margin-right: 20px;
      }
      .map__description {
        width: 60%;
        .map_number__number {
          font-size: 24px;
        }
      }
    }
  }
  .about-us .about-us__block-1 {
    .about-us__photo-block-1 {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
    }
    .about-us__under-block-1 {
      .under-block-1__title {
        font-size: 22px;
        margin: 30px 0 37px;
      }
      .under-block-1__3-column {
        margin: 0;
        .block-1-3-column {
          display: block;
          width: auto;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          padding: 0;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .about-us__footer-block-1 {
      margin-top: 40px;
    }
  }
  .about-us .about-us__block-2 {
    .about-us__photo-block-2 {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
    }
    .about-us__under-block-2 {
      margin-bottom: 50px;
      .under-block-2__3-column {
        display: block;
        margin-bottom: 40px;
        width: auto;
        text-align: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        &:first-child {
          margin-top: 0;
        }
        .block-2-3-column__image {
          margin-bottom: 30px;
        }
      }
    }
  }
  .about-us .about-us__block-3 {
    .about-us__under-block-3 .under-block-3__2-column {
      .block-2-3-column__image {
        float: none;
        width: auto;
        display: block;
      }
      .block-2-3-column__img-wrap {
        margin: 0 auto;
      }
      .block-2-3-column__description {
        float: none;
        width: auto;
        font-size: 0;
        .block-3-2-column {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          text-align: center;
          padding: 0 15px;
          font-size: initial;
          i {
            display: inline-block;
            position: static;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
          }
          .block-3-2-column__title {
            margin-left: 0;
            font-size: 18px;
            padding-right: 0;
          }
        }
      }
    }
  }
  .about-us .about-us__block-4 {
    .about-us__under-block-4 {
      .under-block-4__title {
        font-size: 24px;
        margin-top: 36px;
        padding: 0 20px;
      }
      .under-block-4__description {
        font-size: 18px;
        margin: 32px 0 54px;
        padding: 0 20px;
      }
      .block-4-3-column_container {
        .block-4-3-column {
          padding: 0 20px;
          display: block;
          width: auto;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .block-4-3-column__title {
            text-align: center;
            margin-bottom: 10px;
          }
          .block-4-3-column__description {
            text-align: center;
            font-size: 18px;
            padding: 0;
          }
        }
      }
      .under-block-4__footer {
        display: block;
        .block-4-3-column {
          width: 100%;
          padding: 21px 150px;
          border-right: 0;
          border-bottom: 2px solid #ffffff;
          &:last-child {
            border-bottom: 0;
          }
          .block-4-3-column__title {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .footer {
    &__navigation {
      display: block;
      margin: 20px 0 0;
    }
  }
  .footer__anchor {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 45px;
    right: 30px;

    a {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      font-size: 0;
      padding: 0;
      &:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #a0a0a0;
        box-shadow: none;
        transition: .3s;
      }
      &:after {
        position: absolute;
        top: 1px;
        left: 3px;
        padding: 0;
        font-size: 39px;
        color:#e5e5e5;
        line-height: 1;
      }
      &:hover {
        &:before {
          box-shadow: 0 0 5px 0 black;
        }
      }
    }

    &.visible {
      display: block;
    }
  }
  .footer__home-link {
    display: none;
  }
  .fairs-category__item {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .event2-slider__content .event2-slider__information .slider-info__address-wrapper {
    float: none;
    margin-bottom: 15px;

    .slider-info__address {
      float: none;
    }
    .slider-info__address-value {
      font-size: 15px;
      float: none;
      padding: 0;
    }
  }
  .event2-slider__content .event2-slider__information .slider-info__stand-wrapper {
    float: none;
    margin-bottom: 15px;

    .slider-info__stand {
      float: none;
    }
    .slider-info__stand-value {
      font-size: 15px;
      float: none;
      padding: 0;
    }
  }
  .products-description__main-title {
    font-size: 24px;
  }
  .newsletter-list__item {
    margin-bottom: 20px;
    margin-right: 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  .radio-buttons {
    &__title {
      width: auto;
    }

    &__group {
      padding-left: 0;
    }
  }
  .job-form__person-english,
  .job-form__person-french,
  .job-form__person-german,
  .job-form__person-spanish,
  .job-form__person-other {
    label {
      margin-bottom: 8px;
    }

    .job-form__language-title {
      float: none;
      text-align: start;
      display: block;
      margin-bottom: 15px;
    }
  }
  .lp-header__title {
    font-size: 28px;
  }
  .more-info__photo {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  input[type=submit] {
    float: none;
    margin: 30px 0 0;
    display: block;
  }

  .download-item__download-table {
    .tbody,
    .tr,
    .td {
      display: block;
      margin-bottom: 0;
    }
    .tr {
      @include clearfix;

      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin-bottom: 30px;
    }
    .th,
    .td {
      color: inherit;
      background: none;
      display: block;
      border: none;
      padding: 5px 5px 5px 0;

      &.level,
      &.download {
        text-align: left;
      }
    }
  }

  .download-item__content {
    .col--form-actions {
      float: none;
    }
  }

  .more-info__product-title {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .more-info__product-description {
    float: none;
    width: 100%;
    padding: 0;
  }
  .more-info__product-link {
    display: block;
    float: none;
    padding: 0;
  }
  .popup-reserved-area .popup__redirect .popup-redirect__content {
    ul {
      text-align: center;
      li {
        display: block;
        margin: 0 auto 30px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .col {
    width: 100% !important;
  }
  .about-us-grid {
    &__column {
      display: block;
      width: auto;
      border-right: 0;
      text-align: center;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
    &__icon-wrap {
      margin-right: 0;
      margin-bottom: 30px;
    }
    &--gray {
      .about-us-grid {
        &__column {
          max-width: none;
          border-right: none;
          border-bottom: 2px solid #ffffff;
        }
        &__column-title {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }
        &__column-description {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .wide-img {
    &__text {
      font-size: 30px;
      width: 100%;
      padding: 0 15px;
      right: auto !important;
      left: auto !important;
    }
  }
  .page__anchors {
    .anchor__items {
      .anchor__item {
        @include text-hide();

        &--icon {
          .icon {
            display: inline-block;
          }
        }
      }
    }
  }
  .fairs-card {
    margin-top: 20px;
  }
  .fair-event-information {
    position: static;

    .fair-event__dates,
    .fair-event__location {
      text-align: left;
      margin-bottom: 10px;

      &:after {
        content: none;
      }
      &:before {
        content: '';
      }
    }
  }

  .desktop-hidden {
    display: block !important;
  }
}

@media screen and (max-width:640px) {
  .img-plus-list {
    &__item {
      width: 100%;
      margin-bottom: 45px;
    }
  }
}

@media screen and (max-width: 600px) {
  .products-inner__item {
    width: 100%;
  }
  .hero-slider {
    .slick-dots {
      height: auto;
      bottom: 5px;
    }
  }
  .about-us .block-2-3-column__img-wrap {
    height: auto;
    width: 55%;
    padding-top: 55%;
  }
  .header-subbottom__links .header-subbottom__products-container .products-container__link {
    display: block;
    position: static;
    margin-bottom: 10px;
  }
  .divisions_wrapper .division .header-subbottom__products-container
  .division__description {
    padding: 10px 0 10px 40px;
    margin: 0;
    position: static;
    width: auto;
    .division__link {
      font-size: 16px;
    }
  }
  .division__image {
    display: block;
  }
  .about-us .about-us__block-1 .about-us__description-1 {
    font-size: 30px;
  }
  .about-us .about-us__block-2 .about-us__description-2 {
    font-size: 30px;
  }
  .about-us .about-us__block-3 .about-us__description-3 {
    font-size: 30px;
  }
  .about-us .about-us__block-4 .about-us__description-4 {
    font-size: 30px;
  }
  .about-us .about-us__block-4 .about-us__under-block-4 .under-block-4__footer .block-4-3-column {
    padding: 21px;
  }
  .company-contacts__item {
    display: block;
    float: none;
    width: auto;
    border: none;
  }
  .company-vision__main-title {
    font-size: 24px;
  }
  .company-bullet__title {
    font-size: 20px;
  }
  .company-bullet__image {
    float: none;
    width: auto;
    padding: 0;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
  .product-item__image {
    img {
      width: 100%;
    }
  }

  .company-bullet__content {
    width: auto;
  }
  input[type=text],input[type=tel],input[type=site],input[type=password], input[type=email] {
    &.half, &.half-contact {
      width: calc(100% - 4px);
      margin-right: 1px;
      margin-bottom: 2px;
      margin-top: 2px;
      &.nomargin {
        margin-right: 1px;
      }
    }
  }
  textarea {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
  }

  select {
    width: 91% !important;
  }
  .radio-block {
    .consent-to-processing__description {
      margin-top: 10px;
    }
    display: block;
  }
  .workshop__office-item {
    width: 100%;
    margin-right: 0;
    text-align: center;
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  .social__fb-like {
    padding: 0;
    img {
      padding: 0;
      width: 100%;
    }
  }
  .social__fb-like-page {
    img {
      width: 100%;
    }
  }
  .lp-contact__form .radio-block {
    width: 100%;
    margin-bottom: 0;
  }
  .lp-contact__form .radio-block .lp-consent-to-processing__description {
    width: auto;
    position: static;
    margin-top: 15px;
  }
  .lp-contact__form .button__submit {
    margin: 30px 0;
  }
  .breadcrumbs .page__anchors {
    position: static;
    .anchor__items {
      .anchor__item {
        a {
          border: none;
        }
      }
    }
  }
  .job-form__person-other {
    .job-form__other-language {
      width: 250px;
    }
  }
  .division-news__item {
    &_1 {
      width: 50%;
    }
    &_2 {
      width: 50%;
    }
    &_3 {
      width: 50%;
    }
    &_4 {
      width: 50%;
    }
  }
  .division-news__sizer {
    width: 50%;
  }
  .wide-img {
    padding: 50px 15px;
    &__img-wrap {
      position: absolute;
      padding-top: 0;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__text {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  .newsletter {
    &__text {
      font-size: 18px;
    }
    &__date {
      font-size: 14px;
    }
  }

  .product-description__item {
    &.right-img,
    &.left-img {
      .product-item {
        &__link {
          display: block;
          width: auto;
          margin-left: auto;
          margin-right: auto;
          float: none;
        }
      }
    }
  }
}

@media screen and (max-width: 476px) {
  .header__container  {
    .header  {
      .header-top  {
        .used__button {
          padding: 0 10px;
          margin-left: 5px;
        }
      }
      .searchform {
        margin-left: 10px;
        margin-top: 1px;

        .header__search {

          &:focus {
            width: 50px;
          }
        }
      }
    }
  }
  .products__item {
    width: 100%;
  }
  .slider-nav {
    .mCSB_horizontal {
      .mCSB_scrollTools_horizontal {
        bottom: 0;
      }
    }
  }
  .division-news__item {
    width: 100%;
  }
  .division-news__sizer {
    width: 100%;
  }
  .page-title {
    font-size: 28px;
  }
  .page__anchors {
    margin-top: 12px;

    .anchor__items {
      .anchor__item {
        &--icon {
          .icon {
            font-size: 16px;
          }
        }
      }
    }
  }
  .footer-navigation {
    &__item {
      &,
      & + .footer-navigation__item {
        display: block;
        padding: 0;
        margin-bottom: 5px;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header-subbottom__links .header-subbottom__products-container .products-container__items .product-container__item .product-container__item-image {
    width: 100%;
  }
  .divisions_wrapper .division .division__description {
    padding: 10px;
  }
  .about-us .about-us__block-1 .about-us__description-1 {
    font-size: 20px;
  }
  .about-us .about-us__block-2 .about-us__description-2 {
    font-size: 20px;
  }
  .about-us .about-us__block-3 .about-us__description-3 {
    font-size: 20px;
  }
  .about-us .about-us__block-4 .about-us__description-4 {
    font-size: 20px;
  }
  .owl-carousel{
    .owl-wrapper-outer {
      .owl-item {
        .owl-carousel__content {
          img {
            height: 220px;
          }
        }
      }
    }
    .owl-controls {
      .owl-pagination {
        left: 50%;
        margin-left: -65px;
        position: absolute;
      }
    }
  }
  .breadcrumbs .fair-event-information {
    position: static;
    margin-top: 15px;
    padding: 0 10px;
    .fair-event__dates {
      text-align: left;
      margin-bottom: 10px;
    }
    .fair-event__location {
      text-align: left;
    }
  }
  .lp-header__title {
    text-align: center;
    display: block;
    float: none;
  }
  .lp-header__logo {
    display: block;
    float: none;
  }
  .division-carousel {
    margin-top: 30px;
    .division-carousel__title {
      position: static;
    }
    .division-carousel__link {
      position: static;
      text-align: left;
      padding:  0 10px;
    }
    .slider-division {
      margin-top: 0;
      border-top: 0;
    }
  }
  .popup-download__table {
    margin-bottom: 0;
    .desktop-hidden {
      display: block;
    }
    table,
    thead,
    tbody,
    tr,
    td {
      display: block;
      margin-bottom: 0;
    }
    tr {
      border-bottom: 1px solid #ccc;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
    }

    thead tr:first-child {
      display: none;
    }
    tr:last-child {
      border-bottom: none;
    }
    tr:before,
    tr:after {
      content: '';
      display: table;
    }
    tr:after {
      clear: both;
    }
    th, td {
      color: inherit;
      background: none;
      /*float: left;*/
      /*clear: both;*/
      display: block;
      width: 100%;
      /*width: 50%;*/
      border: none;
      /*border-bottom: 1px solid #ccc;*/
      &:nth-child(n) {
        text-align: left;
      }
    }
    th {
      border-right: 1px solid #ccc;
    }
    th:last-of-type,
    td:last-of-type
    {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .img-plus-list {
    &__leftside {
      min-width: 0;
    }
    &__img-wrap {
      width: 80%;
      padding-top: 80%;
      height: 0;
    }
  }
  .newsletter {
    &__item {
      width: 100%;
    }
  }
}
