@mixin full-width() {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

@mixin absolute-center {
  position: absolute;
  top: -9999%;
  bottom: -9999%;
  left: -9999%;
  right: -9999%;
  margin: auto;
}

@mixin absolute-center--vertical {
  position: absolute;
  top: -9999%;
  bottom: -9999%;
  margin: auto;
}

@mixin absolute-center--horizontal {
  position: absolute;
  left: -9999%;
  right: -9999%;
  margin: auto;
}

@mixin cover-img() {
  @include absolute-center;

  min-height: 100%;
  min-width: 100%;
}
@mixin contain-img() {
  @include absolute-center;

  max-width: 100%;
  max-height: 100%;
}
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    width: 100%;
  }
  &:after {
    clear: both;
  }
}
@mixin nl() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
