.hero-slider.hero-slider--company
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_1.png")
    .hero-slider__title
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
    .hero-slider__title
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_1.png")
    .hero-slider__title
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
    .hero-slider__title
      |a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
    .hero-slider__title
      |a big
      br
      |title  here
