.hero-slider
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_1.png")
    .hero-slider__title.bg
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
    .hero-slider__title.right
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_1.png")
    .hero-slider__title.center
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
    .hero-slider__title.bg.right
      | a big
      br
      | title  here
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/slider_photo_2.png")
