.division-carousel
  h2.division-carousel__title
    span
      | Fiere divisione pietra
    a.division-carousel__link(href="#") vedi tutte
  div(class="slider slider-division")
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header 
          span.date-start 28 
          |/ 
          span.month-start 09 
          span.date-finish - 01 
          |/ 
          span.month-finish 10 
          |/ 
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_1.png")
        .frame-item__footer marmomacc
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_2.png")
        .frame-item__footer QSS 2016
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_3.png")
        .frame-item__footer HOME FIERA
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_4.png")
        .frame-item__footer Lorem ipsum dolor sit amet, consectetur adipisicing elit
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_1.png")
        .frame-item__footer marmomacc
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_2.png")
        .frame-item__footer QSS 2016
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_3.png")
        .frame-item__footer HOME FIERA
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_4.png")
        .frame-item__footer HOME FIERA
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_1.png")
        .frame-item__footer marmomacc
    div.slider-division__slide-wrap
      a(href="#").slider-division__slide
        .frame-item__header
          span.date 12-13 
          |/ 
          span.month 04 
          |/
          span.year 2016
        .slider-division__img-wrap
          img(src="commons/images/division-carousel/division-carousel_2.png")
        .frame-item__footer QSS 2016
