.event1-slider__content
    .hero-slider
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
            .hero-slider__title.bg
                | Lorem ipsum dolor
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_2.png")
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_2.png")
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
            .hero-slider__title
                | Lorem ipsum dolor
    .event1-slider__information
        .slider-info__title dettagli
        .slider-info__table
            .slider-info__table-row
                .slider-info__date Date:
                .slider-info__date-value 28 Settembre – 1° Ottobre, 2016
            .slider-info__table-row
                .slider-info__location Location:
                .slider-info__location-value Fiera di Verona
            .slider-info__table-row
                .slider-info__address Indirizzo:
                .slider-info__address-value Viale del Lavoro 8 , Verona, Italia
            .slider-info__table-row
                .slider-info__stand Stand:
                .slider-info__stand-value Padiglione 4 <br>Stand A6-A7-A8-B6-B8-C7-C8
