.event2-slider__content
    .hero-slider
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
            .hero-slider__title
                | 28 Settembre - 1° Ottobre, 2016
                br
                | Fiera di Verona
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_2.png")
            .hero-slider__title
                | 28 Settembre - 1° Ottobre, 2016
                br
                | Fiera di Verona
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
            .hero-slider__title
                | 28 Settembre - 1° Ottobre, 2016
                br
                | Fiera di Verona
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_2.png")
            .hero-slider__title
                | 28 Settembre - 1° Ottobre, 2016
                br
                | Fiera di Verona
        .hero-slider__slide
            .hero-slider__img-wrap
                img(src="commons/images/fairs-slider1_1.png")
            .hero-slider__title
                | 28 Settembre - 1° Ottobre, 2016
                br
                | Fiera di Verona
    .event2-slider__information
        .slider-info__address-wrapper
            .slider-info__address Indirizzo:
            .slider-info__address-value Viale del Lavoro 8 , Verona, Italia
        .slider-info__stand-wrapper
            .slider-info__stand Stand:
            .slider-info__stand-value Padiglione 4 <br>Stand A6-A7-A8-B6-B8-C7-C8
