.hero-slider
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/lp-slider-1.png")
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/lp-slider-2.png")
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/lp-slider-1.png")
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/lp-slider-2.png")
  .hero-slider__slide
    .hero-slider__img-wrap
      img(src="commons/images/lp-slider-1.png")
