.hero-slider
  - for(var n = 0; n < 5; n++)
    a(href="#").hero-slider__slide
      .hero-slider__img-wrap
        img(src="commons/images/slider_photo_" +(n%2 ? "1" : "2") +".png")
      case n
        when 1
          .hero-slider__title.bg
            | a big
            br
            | title  here
        when 2
          .hero-slider__title.bg.center
            | a big
            br
            | title  here
        when 3
          .hero-slider__title.bg.right
            | a big
            br
            | title  here
        when 4
          .hero-slider__title.center
            | a big
            br
            | title  here
        default
          .hero-slider__title
            | a big
            br
            | title  here
