include ../videos

.product-detail__carousel
    .slider.slider-for
      - for (var i=0; i<2; i++)
        - for (var j=1; j<6; j++)
          if (j == 2)
            .slider-for__item
              .slider-for__img-wrap
                .slider__content
                    +youtube-video
          if (j == 3)
              .slider-for__item
                  .slider-for__img-wrap
                      .slider__content
                          +video
          else
            .slider-for__item
              .slider-for__img-wrap
                img.img.slider__content(src="commons/images/product-details_carousel_" + (j == 5 ? 3 : j) + ".jpg")
    div(class="slider slider-nav slider-division")
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_1.png")
                .frame-item__footer preview 1
        div.slider-division__slide-wrap
            .slider-division__slide.video-btn
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_4.png")
                .frame-item__footer preview 2
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_3.png")
                .frame-item__footer preview 3
        div.slider-division__slide-wrap
            .slider-division__slide.video-btn
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_4.png")
                .frame-item__footer preview 4
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_1.png")
                .frame-item__footer preview 5
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_4.png")
                .frame-item__footer preview 6
        div.slider-division__slide-wrap
            .slider-division__slide.video-btn
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_3.png")
                .frame-item__footer preview 7
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_4.png")
                .frame-item__footer preview 8
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_1.png")
                .frame-item__footer preview 9
        div.slider-division__slide-wrap
            .slider-division__slide
                .slider-division__img-wrap
                    img(src="commons/images/product-details_carousel_small_4.png")
                .frame-item__footer preview 10
